.background {
    background: #fff url("//cdn.shopify.com/s/files/1/0972/9804/t/7/assets/bg-music.png?7226171952935484144") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}