<div class="modal-header">
  <h5 class="modal-title">Transfer In Transaction Detail</h5>
</div>
<div class="modal-body detail-transfer-in-transaction">

  <label>From WareHouse</label>
  <span class="form-control">{{transferInDetails.fromWareHouse}}</span>

  <label>To Outlet</label>
  <span class="form-control">{{transferInDetails.toOutlet}}</span>

  <label>Transfer Number</label>
  <span class="form-control">{{transferInDetails.transferInNumber}}</span>

  <label>Created Date</label>
  <span class="form-control">{{transferInDetails.createdDate}}</span>

  <div class="datatable">
    <div class="content">
      <table class="fixed">
        <tr class="header">
          <th class="header column-name text-center">Products</th>
          <th class="header column-name text-center">Variants</th>
          <th class="header column-name text-center">Quantity</th>
        </tr>
        <tr *ngFor="let item of inventoryTransactionTransferInProducts; let i = index">
          <th class="header column-name text-center">
            <div class="cell product-cell">
              <div class="custom">
                <span>{{item.productName}}</span>
              </div>
              <div class="custom-tooltip" *ngIf="tooltipValues.products[i]">
                <div class="custom-tooltip__content">
                  {{tooltipValues.products[i].name}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell variant-cell">
              <div class="custom">
                <span>{{item.variants[0].name}}</span>
              </div>
              <div class="custom-tooltip" *ngIf="tooltipValues.products[i]">
                <div class="custom-tooltip__content">
                  {{tooltipValues.products[i].variantName}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell">
              <span>{{item.quantity}}</span>
            </div>
          </th>
        </tr>
      </table>
    </div>
    <app-loading-indicator></app-loading-indicator>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="onPrintTransfer()">Print</button>
  <button class="btn btn-secondary" type="button" (click)="onDismiss('Cross click')">Close</button>
</div>
