<div class="goods-inward-page" *ngIf="!isMassAllocation">
  <div *ngIf="!isShowAddGoodsInward">
    <p class="list-view-title h4">
      Goods Inward Management
    </p>
    <div class="filter-multi-select col-12">
      <div class="filter-multi-select-field col-3">
        <div class="filter-multi-select-field-title">
          <p class="h6">Status</p>
        </div>
        <app-filter-multi-select [dropdownList]="statusDropdownList" [customPlaceholder]="statusPlaceholder"
          (dropDownListItem)='displaydropDownListStatus($event)' class="filter-multi-select-field-view">
        </app-filter-multi-select>
      </div>
      <div class="filter-multi-select-field col-3">
        <div class="filter-multi-select-field-title">
          <p class="h6">FromLocation</p>
        </div>
        <app-filter-multi-select [dropdownList]="fromLocationDropdownList" [customPlaceholder]="fromLocationPlaceholder"
          (dropDownListItem)='displaydropDownListFromLocation($event)' class="filter-multi-select-field-view">
        </app-filter-multi-select>
      </div>
      <div class="filter-multi-select-field col-3">
        <div class="filter-multi-select-field-title">
          <p class="h6">ToLocation</p>
        </div>
        <app-filter-multi-select [dropdownList]="toLocationDropdownList" [customPlaceholder]="toLocationPlaceholder"
          (dropDownListItem)='displaydropDownListToLocation($event)' class="filter-multi-select-field-view">
        </app-filter-multi-select>
      </div>
    </div>

    <app-list-view-management [title]="title" [datasource]="datasource" [pageSize]="pageSize" [listButton]="listButton"
      [actionType]="actionType" [isMultiSelect]="isMultiSelect" [isHiddenSearchBox]="isHiddenSearchBox"
      [addSuccessMessage]='addSuccessMessage' [updateSuccessMessage]='updateSuccessMessage'
      [deleteSuccessMessage]='deleteSuccessMessage' (changeSelectedPage)="changeSelectedPage($event)"
      [userDefinedColumnSetting]="userInventoryTransactionDefinedColumnSetting" (searchQuery)="eventSearchQuery($event)"
      (clickButton)="handleOnClick($event)" (sortCondition)="eventSort($event)" [resetSort]="resetSort">
    </app-list-view-management>
  </div>


  <div class="row transfer-out-datatable" *ngIf="isShowAddGoodsInward">
    <div class="col-12">
      <app-add-goods-inward (onclickBackToListingButton)="onclickBackToListingButton($event)" [allowShowMassAllocationBtn] = "allowShowMassAllocationBtn"></app-add-goods-inward>
    </div>
  </div>
</div>

<div *ngIf="isMassAllocation">
  <app-mass-allocation-transaction [fromLocationId]="fromLocationId" [inventoryTransactionId]="inventoryTransactionId"
    (isMassAllocation)="onMassAllocation($event)">
  </app-mass-allocation-transaction>
</div>
