<div class="dashboard-page">
  <p class="col-sm-6 list-view-title h4">
    Dashboard
  </p>

  <div class="page-content">
    <app-top-sale-product></app-top-sale-product>
    <app-purchase-order></app-purchase-order>
    <app-new-products></app-new-products>
  </div>
</div>
