@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';
@import 'src/app/pos/shared/scss/custom-ngx-datatable.scss';

.recent-sales-refund-detail {
    &__content {
        width: 100%;
        height: calc(100vh - 105px);
        margin-left: 10px;

        .ngx-datatable {
            @extend .customer-ngx-datatable;
            
            .datatable-header {
                .datatable-header-inner {
                    .datatable-row-center {
                        .datatable-header-cell {
                            &.description {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }

            .datatable-body {
                max-height: calc(100vh - 580px);

                datatable-scroller {
                    .datatable-row-wrapper {
                        .datatable-body-row {
                            .datatable-row-center {
                                .datatable-body-cell {
                                    &.description {
                                        width: 100% !important;
                                    }

                                    &.quantity {
                                        text-align: center;
                                    }
                
                                    &.price {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .customer-info {
            margin-bottom: 10px;

            span {
                font-weight: 600;
            }
        }

        .billno-previous {
            @extend .customer-info;

            &-detail {
                color: #ff0000;
            }
        }

        .billno-next {
            @extend .customer-info;

            &-detail {
                color: #0000ff;
            }
        }

        .total-price {
            margin-bottom: 10px;
            
            span {
                font-weight: 600;
            }
        }

        .product {
            width: 95%;
        }

        .actions {
            width: 95%;
            text-align: right;

            .reprint {
                margin: 15px 5px;
            }
        }
    }
}