<div class="recent-sales-refund-detail"
     [ngStyle]="{'width': pageWidth}">
    <div class="recent-sales-refund-detail--call-back">
        <app-page-callback [title]='title'
                           [defaultPage]='defaultPage'>
        </app-page-callback>
    </div>

    <div class="recent-sales-refund-detail__content">
        <ng-container *ngIf="sale">
            <app-recent-sale-detail-header 
            [sale]="sale"
            [previousSale]="previousSale"
            [nextSale]="nextSale"
            (changeSale)="onChangeSale($event)"></app-recent-sale-detail-header>
            
            <div class="product"
                 *ngIf="sale">
                <ngx-datatable #myTable
                               class="material striped list-product expandable"
                               [rows]="dataSource"
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [rowHeight]="50">
                    <ngx-datatable-column name="description"
                        [sortable]="false"
                        [draggable]="false"
                        headerClass="description"
                        cellClass="description">
                        <ng-template let-column="column"
                                     ngx-datatable-header-template>
                            Description
                        </ng-template>
                        <ng-template let-row="row"
                                     let-value="value"
                                     ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="quantity"
                        [sortable]="false"
                        [draggable]="false"
                        headerClass="quantity"
                        cellClass="quantity">
                        <ng-template let-column="column"
                                     ngx-datatable-header-template>
                            Quantity
                        </ng-template>
                        <ng-template let-row="row"
                                     let-value="value"
                                     ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="price"
                        [sortable]="false"
                        [draggable]="false"
                        headerClass="price"
                        cellClass="price">
                        <ng-template let-column="column"
                                     ngx-datatable-header-template>
                                     Unit Price ($)
                        </ng-template>
                        <ng-template let-row="row"
                                     let-value="value"
                                     ngx-datatable-cell-template>
                            <strong>{{formatNumberDecimal(value)}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template
                                     let-rowCount="rowCount"
                                     let-pageSize="pageSize"
                                     let-selectedCount="selectedCount"
                                     let-curPage="curPage"
                                     let-offset="offset">
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
            </div>
        </ng-container>

        <app-recent-sale-detail-actions
            [sale]='sale'>
        </app-recent-sale-detail-actions>
    </div>
</div>
