<div class="exchange-promotion" [ngStyle]="{'width': pageWidth}">
  <div class="pos-promotion--call-back">
    <app-page-callback
      [title]='title'
      [defaultPage]='defaultPage'
      (back)="onOk()">
    </app-page-callback>
  </div>

  <div class="exchange-promotion__content">
    <app-promotion-manual-discount (addDiscount)="addManualDiscount($event)"></app-promotion-manual-discount>
    
    <app-promotion-product-discount
      [products]="itemDatasource"
      (addDiscount)="addProductDiscount($event)">
    </app-promotion-product-discount>

    <div class="actions">
      <button class="btn btn-success button-esc" (click)="onOk()">Ok</button>
    </div>
  </div>
</div>