<div class="modal-header">
  <h5 class="modal-title">Add Promotion</h5>
</div>

<div class="modal-body">
  <form [formGroup]="addValueForm">
    <fieldset>
      <div class="form-group">
        <div class="name">
          <label class="lable-control">Name</label>
          <input class="form-control" formControlName="name" placeholder="Name" [ngClass]="{
                'is-invalid':
                  addValueForm.get('name')?.dirty &&
                  !addValueForm.get('name')?.valid
              }" />
          <span class="error invalid-feedback" *ngIf="
                addValueForm.get('name')?.dirty &&
                addValueForm.get('name')?.errors
              ">
            <span *ngIf="
                  addValueForm.get('name')?.errors?.required ||
                  addValueForm.get('name')?.errors?.nospace
                ">
              Name is required!
            </span>
          </span>
        </div>

        <div class="description">
          <label class="lable-control">Description</label>
          <input class="form-control" formControlName="description" placeholder="Description" />
        </div>

        <div class="promotion-type">
          <label class="lable-control">Promotion Type</label>
          <ng-select class="form-control" formControlName="promotionType" bindValue="id" bindLabel="typeName"
            #selection [items]="listPromotionTypes" placeholder="Promotion Type" [(ngModel)]="selectedPromotionType"
            class="custom" [clearable]="false" [ngClass]="{
                  'is-invalid':
                    addValueForm.get('promotionType')?.dirty &&
                    !addValueForm.get('promotionType')?.valid
                }">
          </ng-select>
        </div>

        <div class="location">
          <label class="lable-control">Location</label>
          <div class="columns-dropdown">
            <ng-select class="form-control" formControlName="location" bindValue="id" bindLabel="name" #selection
              [items]="listLocation" placeholder="Location" [(ngModel)]="selectedLocation" class="custom" [clearable]="false"
              [multiple]=true [ngClass]="{
                'is-invalid':
                  addValueForm.get('location')?.dirty &&
                  !addValueForm.get('location')?.valid
              }">
            </ng-select>
          </div>
        </div>

        <div class="from-date">
          <label class="lable-control">From Date</label>
          <div class="input-group">
            <input class="form-control" formControlName="fromDate" placeholder="yyyy-mm-dd" name="d1" [(ngModel)]="fromDate"
              (ngModelChange)="onSelectedFromDateChange($event)" ngbDatepicker #d1="ngbDatepicker" [ngClass]="{'is-invalid': addValueForm.get('fromDate')?.dirty && !addValueForm.get('fromDate')?.valid}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="=to-date">
          <label class="lable-control">To Date</label>
          <div class="input-group">
            <input class="form-control" formControlName="toDate" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="toDate"
              (ngModelChange)="onSelectedToDateChange($event)" ngbDatepicker #d2="ngbDatepicker" [ngClass]="{'is-invalid': addValueForm.get('toDate')?.dirty && !addValueForm.get('toDate')?.valid}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>

        <div [hidden]="selectedPromotionType != promotionTypes.Discount" class="discount">
          <label class="lable-control">Discount</label>
          <div class="discount-content">
            <div class="discount-type">
              <ng-select class="form-control" formControlName="discountType" bindValue="id" bindLabel="typeName"
                [items]="listDiscountTypes" placeholder="Select Type" [(ngModel)]="selectedDiscountType" class="custom"
                [clearable]="false">
              </ng-select>
            </div>

            <input [hidden]="selectedDiscountType == discountTypes.Percent" class="form-control" formControlName="discountValueAmount"
              placeholder="Discount Value" type="number" oninput="validity.valid||(value='');" min="0" />
            <input [hidden]="selectedDiscountType != discountTypes.Percent" class="form-control" formControlName="discountValuePercent"
              placeholder="Discount Value" type="number" oninput="validity.valid||(value='');" min="0" max="100" />
          </div>

          <div>
            <input class="lable-control" formControlName="promotionSelection" type="radio" value="code">
            <span class="lable-control"> Use Coupon Codes</span>
          </div>
          <div>
            <input class="lable-control" formControlName="promotionSelection" type="radio" value="condition">
            <span class="lable-control"> Use Conditions</span>
          </div>

          <div [hidden]="addValueForm.get('promotionSelection')?.value != promotionSelection.code" class="card">
            <h5 class="card-header">Coupon Codes Info</h5>
            <div class="card-body">
              <div class="coupon-codes">
                <div class="coupon-codes">
                  <label class="lable-control">Number of Codes</label>
                  <input class="form-control" formControlName="numberOfCodes" [(ngModel)]="numberOfCodes" type="number"
                    oninput="validity.valid||(value='');" min="0" />
                  <label class="lable-control">Coupon Codes</label>
                  <textarea readonly class="form-control coupon-codes" formControlName="couponCodes" [(ngModel)]="listCouponCodeDisplay"></textarea>
                  <button class="btn btn-secondary" type="button"
                    (click)="generatePromotionCode($event)">Generate
                    Codes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="conditions" [hidden]="addValueForm.get('promotionSelection')?.value != 'condition'">
            <div class="card">
              <h5 class="card-header">Conditions Info</h5>
              <div class="card-body">
                <div>
                  <label>Condition</label>
                  <ng-select class="form-control" formControlName="conditions" bindValue="id" bindLabel="typeName"
                    [items]="listConditionTypes" placeholder="Please choose a condition to add" [(ngModel)]="selectedCondition"
                    class="custom" [clearable]="false">
                  </ng-select>
                </div>
                <div class="condition-detail">
                  <div class="operator">
                    <span>operator</span>
                    <ng-select class="form-control" formControlName="operators" bindValue="id" bindLabel="typeName"
                      [items]="listOperatorTypes" placeholder="Choose operator" [(ngModel)]="selectedOperator" class="custom"
                      [clearable]="false">
                    </ng-select>
                  </div>
                  <div class="value-of-condition">
                    <span>value</span>
                    <input class="form-control" formControlName="valueOfCondition" type="number" oninput="validity.valid||(value='');"
                      min="0" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </fieldset>
  </form>

  <app-loading-spinner [hiddenLoadingIndicator]="hiddenLoadingIndicator"></app-loading-spinner>

</div>

<div class="modal-footer">
  <button [disabled]="isDeactive || !(addValueForm.valid 
                      || (selectedPromotionType == promotionTypes.DiscountManual
                            && addValueForm.get('name')?.dirty && !addValueForm.get('name')?.valid
                            && addValueForm.get('location')?.dirty && !addValueForm.get('location')?.valid))" 
    class="btn btn-secondary" 
    type="button" 
    (click)="onSave()">
    Save
  </button>
  <button class="btn btn-secondary" type="button" (click)="onDismiss('Cross click')">
    Cancel
  </button>
</div>