<div class="new-product-block">
  <div class="block-header">
    <p class="h4">
      {{title}}
    </p>
  </div>
  <div class="block-body">
    <ngx-datatable #stocksTable
                   class='material'
                   [loadingIndicator]="isLoading"
                   [rows]='newProducts'
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="totalItems"
                   [offset]="pageIndex"
                   [limit]="numberItemsPerPage"
                   (page)='setPage($event)'>

      <ngx-datatable-column name="Name">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          Name
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.productName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Description">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          Description
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.productDescription}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Category Name">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          Category Name
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.categoryName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Created Date">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          Created Date
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.createdDate}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
  <div class="block-footer">

  </div>
</div>
