@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';

.header {
    padding: 20px 0;
}

.grid {
    font-size: 15px;
}

.selected {
    background-color: #e9ecef;
}

.pagination {
    float: right;
}

.filter {
    display: flex;
    justify-content: flex-end;
}

.sms-report-content {
    min-height: 500px;;
}

.sms-report-btn {
    display: flex;
    margin-left: 10px;
}

.sms-datepicker {
    margin-left: 10px;
}

.sms-grid {
    margin-top: 20px;
    .row-detail-sms-report{
        padding: 0px 64px 0px 50px;
    }
}
.toggle-icon{
    color: #6c757d !important;
    text-decoration : none;
}