<div class="top-sale-product">
  <div class="row top-sale-product-header col-12">
    <div class="col-12">
      <p class="h4">
        {{title}}
      </p>
    </div>
  </div>

  <form #topSaleProductForm="ngForm" (ngSubmit)="onClickFilter()" class="top-sale-form">
    <div class="date-filter-form col-2">
      <div class="input-group">
        <span class="input-group__label">From</span>
        <input class="form-control" placeholder="yyyy-mm-dd" name="d1" [(ngModel)]="fromDate" ngbDatepicker
          #d1="ngbDatepicker" required [maxDate]="maxDate" readonly>

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="date-filter-form col-2">
      <div class="input-group">
        <span class="input-group__label">To</span>
        <input class="form-control" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="toDate" ngbDatepicker
          #d2="ngbDatepicker" required [maxDate]="maxDate" readonly>

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="btn-filter btn-export">
      <button type="submit" class="btn btn-outline-secondary" [disabled]="topSaleProductForm.invalid">Filter</button>
    </div>
  </form>

  <div class="row top-sale-product-content col-12" *ngFor="let topProductBySale of topProductBySales">
    <div class=" product-info col-10">
      <p class="h6">
        {{topProductBySale.productName}}
      </p>
      <p class="h6">
        {{topProductBySale.variantName}}
      </p>
      <p class="h6">
        Variant SKU: {{topProductBySale.skuCode}}
      </p>
    </div>
    <div class=" product-quantity col-2">
      <p class="h6">
        Quantity: {{topProductBySale.totalQuantity}}
      </p>
    </div>
  </div>
</div>