.top-sale-product {
    margin: 10px;
    border: 3px solid #cac7c6;
    border-radius: 10px;
    padding: 10px;
    
    &-header {
        padding: 20px 0px 20px 0px;
        margin-left: 0px;        
        .date-filter{
            .input-group {
                width: auto;
                float: left;
                &-to-date {
                    margin-left: 5px;
                }
                .from-date-title,
                .to-date-title {
                    margin: 5px 5px 0px 0px;
                }
                @media screen and (max-width: 1600px) {
                    .to-date-title {
                        margin: 5px 25px 0px 0px;
                    }
                    &-to-date {
                        margin-left: unset;
                    }
                }
            }
        }
    }

    &-content {
        padding: 10px 0px 30px 0px;
        margin: 00px 0px 10px 0px;
        border-top: 2px solid grey;
    }
}

.top-sale-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
}

.input-group {
    &__label {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}

