.modal-content{
    width: 950px
}

.custom-currency{
    margin-left: 10px;
    width: 200px;
}

.purchase-order {

    button:disabled {
        cursor: not-allowed;
    }

    .columns-dropdown {
        display: flex;
        padding: 20px 20px 10px 0;
        justify-content: flex-start;

        .dropdown {
            display: flex;
            align-items: center;
            &-title {
                margin: 0px 20px;
            }
        }
    }

    .group-button {
        display: flex;
        padding: 10px 10px;
        justify-content: flex-end;

        .btn-item {
            padding: 0 10px;
        }
    }

    .datatable{
        height: 100%;
        padding: 10px 0px;

        .content {
            padding: 10px 0;
        }

        table,
        th,
        td {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            padding: 5px 5px;
        }

        
        table.fixed {
           table-layout: auto;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            border-spacing: 0;

            .header {
                background-color: rgba(0, 0, 0, .03);
            }

            .duplicate {
                background-color: #f9c6c6; 
            }

            .cell {                
                .custom {
                    width: 200px;

                    .item-select {
                        border-bottom: 1px solid #ccc;
                    }
                }

                .ng-dropdown-panel {
                    border: unset;
                }

                .ng-dropdown-panel-items.scroll-host{
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: fit-content;
                    min-width: 200px;
                }
    
                .number-updown {
                    height: 36px;
                    width: 100px;
                    padding-left: 10px;
                }
            }

            .icon {
                cursor: pointer;
            }

        }

        .currency-option{
            display: flex;
            justify-content: flex-end;
        }

        .text-box{
            border: 1px solid #000000;
            height: auto;
            width: auto;
            min-width: 200px;
            max-width: 300px;
            border-color: #cccccc;
            border-radius: 5px;
            background-color: #ffffff !important;
            overflow: hidden;
            cursor: pointer;
            &__input{
                float: left;
                font-size: inherit;
                display: table;
                width: auto;
                max-width: 300px;
                padding: 10px;
            }
            &__empty{
                float: left;
                font-size: 18px;
                padding: 4px 0px 4px 10px;
                color: #a9a9a9
            }
        }
        .field__tag{
            width: auto;
            max-width: 150px;
            margin: 5px;
            border-radius: 3px;
            padding: 2px 5px 5px 5px;
            background: #eeeeee;
            border: 1px #ddd solid;
            float: left;

            &-title{
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0px;

                &:hover{
                    visibility: visible;
                }
            }

            &:hover .open {
                visibility: inherit;
            }

            &-tooltip-wrapper {
                position: absolute;
                visibility: hidden;
            }

            &-tooltip {        
                white-space: nowrap;
                line-height: 16px;
                display: flex;
                margin-top: 5px;
                position: absolute;
                top: 8px;
                left: -8px;
                width: auto;
                background-color: #63737c;
                border-radius: 3px;
                z-index: 1;
                padding: 7px 4px;
                color: #fff;
            }
        }
    }
}

.ng-select.ng-select-disabled>.ng-select-container{
    background-color: #ffffff !important;
}

.form-control[readonly], .form-control:disabled {
    background-color: #ffffff;
}


.product-cell {

  .custom-tooltip {
    position: relative;

    &__content {
      visibility: hidden;
      word-break: break-word;
      line-height: 16px;
      width: auto;
      min-width: 200px;
      background-color: #63737c;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 7px 4px;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 1;
    }
  }

  &:hover .custom-tooltip {
    position: relative;

    &__content {
      visibility: visible;
    }
  }
}
