<div class="stock-and-price-page">
  <p class="col-sm-6 list-view-title h4">
    {{title}}
  </p>

  <div class="columns-dropdown">
    <div class="dropdown">
      <input class="form-control ml-2"
             [(ngModel)]="searchText"
             #searchInput
             name="searchText"
             type="search"
             placeholder="Search"
             aria-label="Search">
    </div>
    <div class="button-group">
      <button type="button"
              class="btn btn-outline-secondary mr-2"
              (click)="expandAllStocksRows()">Expand All</button>
      <button type="button"
              class="btn btn-outline-secondary"
              (click)="collapseAllStocksRows()">Collapse All</button>
    </div>
  </div>

  <div class="datatable">
    <ngx-datatable #stocksTable
                   class='material'
                   [loadingIndicator]="isLoadingPage"
                   [rows]='stockAndPricesViewModel.items'
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="stockAndPricesViewModel.totalItems"
                   [offset]="pageNumber"
                   [limit]="pageSize"
                   (page)='setPage($event)'>

      <ngx-datatable-row-detail>
        <ng-template let-row="row"
                     let-expanded="expanded"
                     ngx-datatable-row-detail-template>
          <div class="detail-table">
            <strong>Stores: </strong>
            <ngx-datatable #variantStoreTable
                           class="material striped"
                           [loadingIndicator]="row.isLoadingData"
                           [rows]="getDetailStoreVariants(row.productId)"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="'auto'">

              <ngx-datatable-column name="SKU"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.skuCode}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Category"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.categoryName}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Variant"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.variantName}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="List Price"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{formatNumberDecimal(row.listPrice)}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Member Price"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{formatNumberDecimal(row.memberPrice)}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Staff Price"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{formatNumberDecimal(row.staffPrice)}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Quantity"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.quantity}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Location"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.locationName}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <strong>Warehouse:</strong>
            <ngx-datatable #variantStoreTable
                           class="material striped"
                           [loadingIndicator]="row.isLoadingData"
                           [rows]="getDetailWarehouseVariants(row.productId)"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="'auto'">

              <ngx-datatable-column name="SKU"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.skuCode}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Category"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.categoryName}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Variant"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.variantName}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Quantity"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.quantity}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Location"
                                    [width]="80"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="true">
                <ng-template let-row="row"
                             let-value="value"
                             ngx-datatable-cell-template>
                  {{row.locationName}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
        <ng-template let-row="row"
                     let-expanded="expanded"
                     ngx-datatable-cell-template>
          <a [class.datatable-icon-right]="!expanded"
             [class.datatable-icon-down]="expanded"
             title="Expand/Collapse Row"
             class="arrow-detail"
             (click)="toggleExpandStocksRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Product Name">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          Product Name
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.productName}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
