<div class="recent-sale-detail-actions">
  <div class="actions">
    <ng-container *ngIf="enableExchangeRefund">
      <button class="btn btn-outline-secondary reset reprint"
        (click)="onClickExchange()">
        Exchange
      </button>
      <button class="btn btn-outline-secondary reset reprint"
        (click)="onClickRefund()">
        Refund
      </button>
    </ng-container>
    
    <button class="btn btn-outline-secondary reset reprint"
      (click)="onClickReprint()">
      Reprint
    </button>
  </div>
</div>