@using Microsoft.AspNetCore.Identity
@using Harvey.Ids.Domains

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-page="" title="Manage">Hello @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="ChangeUserPin">Change Pin</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="ChangePass">Change Password</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}