<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span>: <span [ngClass]="{'field__tag': value && value != ''}">{{dateTimeValue}}
    </span>
    <span><i class="far fa-edit field__icon-edit" (click)="edit()"></i></span>
</div>

<ng-template #editMode>
    <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="d1" [ngModel]="bindingValueTemp" (ngModelChange)="onDateSelect($event)"
            ngbDatepicker #d1="ngbDatepicker" readonly>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
            </button>
        </div>
    </div>
</ng-template>
