<div class="customer-detail">
  <p class="h1">{{'APP.CUSTOMER_DETAIL_COMPONENT.CUSTOMER_DETAIL' | translate}}</p>
  <div class="card bg-light my-4 customer-info">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6 customer-name">
          <div class="status-customer"
               [ngClass]="[isActive ? 'activeMember' : 'deactiveMember']"></div>
          <h4>{{customer.name}} - {{customer.customerCode}}</h4>
        </div>
        <div class="col-sm-6 edit-customer-info">
          <div [hidden]="customer.lastUsed == '-'"
               class="last-visited">
            <span>
              {{'APP.COMMON.LAST_USED' | translate}}: {{customer.lastUsed}}
            </span>
          </div>
          <i *ngIf="isActive"
             title="{{'APP.CUSTOMER_DETAIL_COMPONENT.CHANGE_MOBILE' | translate}}"
             class="icon-edit-profile fas fa-edit"
             (click)="editCustomerPhone()"></i>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <img src="{{profileImage}}"
               class="d-inline-block align-top"
               alt=""
               class="customer-avatar">
        </div>
        <div class="col-sm-4">
          <div [hidden]="customer.phone == '-'"
               class="phone">
            <i class="fas fa-phone"></i>
            <strong> {{customer.phone}}</strong>
          </div>
          <div [hidden]="customer.email == '-' || customer.email == null">
            <i class="fas fa-envelope"></i> {{customer.email}}
          </div>
          <div [hidden]="!customer.gender">
            <i class="fas fa-transgender"></i> {{customer.gender}}
          </div>
          <ng-container *ngIf="!isPremiumCustomer">
            <div class="membership"
                 [ngStyle]="membershipBasicButtonColorProperties">
              <b>{{membershipType}}</b>
            </div>
          </ng-container>
          <ng-container *ngIf="isPremiumCustomer">
            <div class="membership"
                 [ngStyle]="membershipPremiumButtonColorProperties">
              <b>{{membershipType}}</b>
            </div>
          </ng-container>
        </div>
        <div class="col-sm-4">
          <div class="customer-birthday"
               [hidden]="customer.dateOfBirth == '-'">
            <span class="birthday-text">
              <i class="far fa-clock"></i> {{'APP.COMMON.DATE_OF_BIRTH' | translate}}: {{customer.dateOfBirth}}
            </span>
            <span class="birthday-icon"
                  [hidden]='!isBirthmonth'>
              <img src="../../../../assets/img/birthday-icon.ico"
                   alt=""
                   placement="right"
                   ngbTooltip="{{'APP.CUSTOMER_DETAIL_COMPONENT.BIRTHMONTH' | translate}}">
            </span>
          </div>
          <div [hidden]="!isPremiumCustomer">
            <i class="far fa-clock"></i> {{'APP.COMMON.EXPIRED_DATE' | translate}}:
            <span [hidden]="isExpiredCustomer">{{customer.expiredDate}}</span>
            <em class="text-danger"
                [hidden]="!isExpiredCustomer">{{'APP.CUSTOMER_DETAIL_COMPONENT.EXPIRED_DATE' | translate}}
            </em>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit"
                  [ngClass]="[isActive ? 'deactiveMember' :'activeMember']"
                  (click)="onClickStatusBtn()"
                  class="status-btn btn text-center">{{statusChange}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light my-4 membership-program">
    <div class="card-header">
      <h4>
        <i class="far fa-id-card"></i> {{'APP.CUSTOMER_DETAIL_COMPONENT.MEMBERSHIP_PROGRAM' | translate}}</h4>
    </div>
    <div class="card-body">
      <ngx-datatable class="material"
                     #tableMembershipTransaction
                     [rows]="membershipTransactionList"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [externalPaging]="true"
                     [count]="totalMembershipTransaction"
                     [offset]="pageNumberMembership"
                     [limit]="pageSize"
                     [loadingIndicator]="loadingIndicatorMembershipTransaction"
                     (page)='setPageMembershipTransaction($event)'>

        <ngx-datatable-row-detail #membershipTransactionDetailRow>
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-row-detail-template>
            <div *ngIf="isMediumDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <div class="mb-3">
                <p *ngIf="row.comment == '-'"><b>{{'APP.COMMON.COMMENT' | translate}}:</b> {{row.comment}}</p>
                <button *ngIf="row.comment != '-'"
                        type="submit"
                        (click)="onClickShowComment(row.comment)"
                        class="btn btn-danger text-center">{{'APP.HOMEPAGE_COMPONENT.SHOW_COMMENT' | translate}}</button>
              </div>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
            </div>

            <div *ngIf="isSmallDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.CREATE_DATE' | translate}}:</b> {{row.createdDate}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}:</b> {{row.doneBy}}</p>
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <div class="mb-3">
                <p *ngIf="row.comment == '-'"><b>{{'APP.COMMON.COMMENT' | translate}}:</b> {{row.comment}}</p>
                <button *ngIf="row.comment != '-'"
                        type="submit"
                        (click)="onClickShowComment(row.comment)"
                        class="btn btn-danger text-center">{{'APP.HOMEPAGE_COMPONENT.SHOW_COMMENT' | translate}}</button>
              </div>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
              <button [hidden]="!row.allowVoid || !isActive"
                      type="submit"
                      (click)="onClickVoidMembership(row)"
                      class="btn btn-danger text-center">Void</button>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column [width]="50"
                              [resizeable]="false"
                              [sortable]="false"
                              [draggable]="false"
                              [canAutoResize]="false"
                              *ngIf="isMediumDevice || isSmallDevice">
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded"
               [class.datatable-icon-down]="expanded"
               title="Expand/Collapse Row"
               (click)="toggleExpandMembershipTransactionRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.COMMON.CREATE_DATE' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.createdDate}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.CUSTOMER_DETAIL_COMPONENT.MEMBERSHIP' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.membershipType}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.IP_ADDRESS' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <div class="phone">
              {{row.ipAddress}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.CUSTOMER_DETAIL_COMPONENT.EXPIRY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.expiredDate}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.doneBy}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.OUTLETS' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.outletName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.COMMENT' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <button [hidden]="row.comment == '-'"
                    type="submit"
                    (click)="onClickShowComment(row.comment)"
                    class="btn btn-danger text-center">{{'APP.HOMEPAGE_COMPONENT.SHOW_COMMENT_MOBILE' | translate}}</button>
            <div [hidden]="row.comment != '-'">{{row.comment}}</div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <i [hidden]="!row.voided"
               class="fas fa-check"></i>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.voidedBy}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOID' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            &nbsp;
            <button [hidden]="!row.allowVoid || !isActive"
                    type="submit"
                    (click)="onClickVoidMembership(row)"
                    class="btn btn-danger text-center">Void</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </div>

  <div class="card bg-light my-4 rewards-point">
    <div class="card-header">
      <h4>
        <i class="fas fa-gift"></i> {{appSummaryLabelTitle}} {{'APP.CUSTOMER_DETAIL_COMPONENT.REWARDS_POINT' |
        translate}}</h4>
    </div>
    <div class="card-body">
      <ngx-datatable class="material"
                     #tablePointTransaction
                     [rows]="pointTransactionList"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [externalPaging]="true"
                     [count]="totalItemPointTransaction"
                     [offset]="pageNumberPoint"
                     [limit]="pageSize"
                     [loadingIndicator]="loadingIndicatorPointTransaction"
                     (page)='setPagePointTransaction($event)'>

        <ngx-datatable-row-detail #pointTransactionDetailRow>
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-row-detail-template>
            <div *ngIf="isMediumDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
            </div>

            <div *ngIf="isSmallDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.CREATE_DATE' | translate}}:</b> {{row.createdDate}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}:</b> {{row.staffName}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.EXPIRY' | translate}}:</b> {{row.expiredDate}}</p>
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED' | translate}}: </b> <i [hidden]="!row.voided"
                   class="fas fa-check"></i></p>
              <button [hidden]="!row.allowVoid || !isActive"
                      [ngClass]="{disabled:row.voided}"
                      type="submit"
                      (click)="onClickVoidPoint(row)"
                      class="btn btn-danger text-center">Void</button>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column [width]="50"
                              [resizeable]="false"
                              [sortable]="false"
                              [draggable]="false"
                              [canAutoResize]="false"
                              *ngIf="isMediumDevice || isSmallDevice">
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded"
               [class.datatable-icon-down]="expanded"
               title="Expand/Collapse Row"
               (click)="toggleExpandPointTransactionRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.COMMON.CREATE_DATE' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.createdDate}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.DEBIT' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.debit}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.CREDIT' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.credit}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.BALANCE' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.balanceTotal}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.staffName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.OUTLET' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.outletName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.IP_ADDRESS' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <div class="phone">
              {{row.ipAddress}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.EXPIRY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.expiredDate}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <i [hidden]="!row.voided"
               class="fas fa-check"></i>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.voidedBy}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOID' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            &nbsp;
            <button [hidden]="!row.allowVoid || !isActive"
                    [ngClass]="{disabled:row.voided}"
                    type="submit"
                    (click)="onClickVoidPoint(row)"
                    class="btn btn-danger text-center">Void</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="card bg-light my-4 wallet">
    <div class="card-header">
      <h4>
        <i class="fas fa-gift"></i> {{appSummaryLabelTitle}} {{'APP.CUSTOMER_DETAIL_COMPONENT.WALLET' | translate}}</h4>
    </div>
    <div class="card-body">
      <ngx-datatable class="material"
                     #tableWalletTransaction
                     [rows]="walletTransactionList"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [externalPaging]="true"
                     [count]="totalWalletTransaction"
                     [offset]="pageNumberWallet"
                     [limit]="pageSize"
                     [loadingIndicator]="loadingIndicatorWalletTransaction"
                     (page)='setPageWalletTransaction($event)'>

        <ngx-datatable-row-detail #walletTransactionDetailRow>
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-row-detail-template>
            <div *ngIf="isMediumDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
            </div>

            <div *ngIf="isSmallDevice"
                 class="row-details">
              <p> <b>{{'APP.COMMON.CREATE_DATE' | translate}}:</b> {{row.createdDate}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}:</b> {{row.staffName}}</p>
              <p> <b>{{'APP.COMMON.IP_ADDRESS' | translate}}:</b> {{row.ipAddress}}</p>
              <p> <b>{{'APP.COMMON.OUTLETS' | translate}}:</b> {{row.outletName}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}:</b> {{row.voidedBy}}</p>
              <p> <b>{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED' | translate}}: </b> <i [hidden]="!row.voided"
                   class="fas fa-check"></i></p>
              <button [hidden]="row.walletTransactionReferenceId || !isActive"
                      [ngClass]="{disabled:row.voided}"
                      type="submit"
                      (click)="onClickVoidWallet(row)"
                      class="btn btn-danger text-center">{{'APP.CUSTOMER_DETAIL_COMPONENT.VOID' | translate}}</button>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column [width]="50"
                              [resizeable]="false"
                              [sortable]="false"
                              [draggable]="false"
                              [canAutoResize]="false"
                              *ngIf="isMediumDevice || isSmallDevice">
          <ng-template let-row="row"
                       let-expanded="expanded"
                       ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded"
               [class.datatable-icon-down]="expanded"
               title="Expand/Collapse Row"
               (click)="toggleExpandWalletTransactionRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.COMMON.CREATE_DATE' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.createdDate}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.DEBIT' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            ${{row.debit}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.CREDIT' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            ${{row.credit}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'APP.COMMON.BALANCE' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            ${{row.balanceTotal}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.DONE_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.staffName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.OUTLET' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.outletName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.COMMON.IP_ADDRESS' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <div class="phone">
              {{row.ipAddress}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            <i [hidden]="!row.voided"
               class="fas fa-check"></i>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isMediumDevice && !isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOIDED_BY' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            {{row.voidedBy}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!isSmallDevice"
                              name="{{'APP.CUSTOMER_DETAIL_COMPONENT.VOID' | translate}}">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row"
                       ngx-datatable-cell-template>
            &nbsp;
            <button [hidden]="row.walletTransactionReferenceId || !isActive"
                    [ngClass]="{disabled:row.voided}"
                    type="submit"
                    (click)="onClickVoidWallet(row)"
                    class="btn btn-danger text-center">{{'APP.CUSTOMER_DETAIL_COMPONENT.VOID' | translate}}</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="card bg-light my-4 activity-history">
    <div class="card-header">
      <h4>
        <i class="fas fa-list fa-fw icon"></i>&nbsp;{{'APP.ACTIVITY.ACTIVITY_HISTORY' | translate}}</h4>
    </div>
    <div class="card-body">
      <div *ngIf="loadingIndicatorHistoryCustomerActivities"
           class="loading">
        <i class="icon-loading fa fa-spinner fa-spin"></i>
      </div>
      <ul *ngIf="!loadingIndicatorHistoryCustomerActivities">
        <li class="mb-2"
            *ngFor="let item of historyCustomerActivities">
          <p class="activity-message">
            <b class="activity-message__creatorName">{{item.creatorName}}</b> {{item.message}} <span *ngIf=""></span><span
                  *ngIf="isPointMessage(item)">
              {{item.value}} points</span><span *ngIf="isWalletMessage(item)"> {{item.value}}$</span> <span *ngIf="item.outletCode">
              at
              {{item.outletCode}} store</span>
          </p>
          <i class="activity-message__createdDate">{{item.createdDate}}</i>
        </li>
        <ngb-pagination [collectionSize]="totalHistoryCustomerActivities"
                        [(page)]="pageNumberHistoryCutomerActivities"
                        [maxSize]="5"
                        [ellipses]="false"
                        [boundaryLinks]="true"
                        [rotate]="true"
                        (pageChange)="onClickPagingHistoryActivity()"></ngb-pagination>
      </ul>
    </div>
  </div>

</div>
