.product-cell {

  .custom-tooltip {
    position: relative;

    &__content {
      visibility: hidden;
      word-break: break-word;
      line-height: 16px;
      width: auto;
      min-width: 200px;
      background-color: #63737c;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 7px 4px;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 1;
    }
  }

  &:hover .custom-tooltip {
    position: relative;

    &__content {
      visibility: visible;
    }
  }
}
