﻿@using Harvey.Ids.ViewModels.Accounts
@model ChangePinViewModel

@{
    Layout = "_Layout";
}

<div class="change-pin-page">
    <div class="change-pin-panel panel-default">
        <div class="panel-body">
            <h3 class="text-center">Change Pin</h3>
            <hr>
            @Html.Partial("_ValidationSummary")

            <form id="forgot_Pin" asp-controller="Account" asp-action="ChangeUserPin" method="POST">
                @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                <div class="input-group">
                    <div class="form-line">
                        <label>Old Pin</label>
                        <input type="password" class="login-input" placeholder="" asp-for="CurrentPin" required>
                    </div>
                    <p class="notification_Pin">@ViewBag.Error</p>
                    <div class="form-line">
                        <label>New Pin</label>
                        <input type="password" class="login-input" placeholder="" asp-for="NewPin" required>
                    </div>
                    <div class="form-line">
                        <label>Confirm Pin</label>
                        <input type="password" class="login-input" placeholder="" asp-for="ConfirmPin" required>
                    </div>
                    <p class="notification_Pin">@ViewBag.Comment</p>
                </div>

                <button class="btn btn-block btn-lg bg-color waves-effect fp-button-submit" type="submit">SAVE</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>