.outlet-info {

    &__avatar { 
        height: 80px;
    }
}

.menu-button {
    
    &__label {
        cursor: pointer;
    }

    &::after {
        content: unset !important;
    }
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
}

.dashboard {

    &__title {
        width: 40%;
    }

    &__date {
        width: 60%;
    }
}

.pointer-event-none {
    opacity: 0.7;
    pointer-events: none;   
}

@media (min-width: 577px) AND (max-width: 768px) { 
    .form-control {
        font-size: 14px;
    }
}