<div class="exchange-product" [ngStyle]="{'width': pageWidth}">
    <div class="exchange-product--call-back">
        <app-page-callback [title]='title' [defaultPage]='defaultPage'>
        </app-page-callback>
    </div>

    <div class="exchange-product--search-product">
        <app-search-with-keyboard [id]='productSearchId' placeHolder='Product' putItemLeft=true
            [dataSet]='filteredProducts' [searchText]='searchProductText' (changeValue)="onSearchProduct($event)"
            (selectItem)="onSelectProduct($event)">
        </app-search-with-keyboard>
    </div>

    <div class="product">
        <ngx-datatable #myTable class="material list-product expandable" [rows]="dataSource" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowClass]="getRowClass" [rowHeight]="50">
            <ngx-datatable-column name="description" [sortable]="false" [draggable]="false"
                headerClass="description"
                cellClass="description">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Description
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="quantity" [sortable]="false" [draggable]="false"
                headerClass="quantity"
                cellClass="quantity">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Quantity
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.status == exchangeViewStatus.NewItem">
                        <button class="btn-decrease" type="button" (click)="onInPutNumberMinus(row)">
                            <i class="fas fa-minus fa-xs" style="font-size: 0.8rem;"></i>
                        </button>
                        <app-input-with-keyboard id="{{productExchangeQuantityId}}{{i}}" type="number"
                            [style]="inputQuantityStyle" inputSelectText="true" isNumpad="true" [value]="value"
                            (valueChange)="onChangeQuantity($event, row)">
                        </app-input-with-keyboard>
                        <button class="btn-increase" type="button" (click)="onInPutNumberPlus(row)">
                            <i class="fas fa-plus fa-xs" style="font-size: 0.8rem;"></i>
                        </button>
                    </div>
                    <div *ngIf="row.status != exchangeViewStatus.NewItem">
                        <strong>{{value}}</strong>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="price" [sortable]="false" [draggable]="false"
                headerClass="price"
                cellClass="price">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Unit Price ($)
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <strong>{{formatNumberDecimal(value)}}</strong>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="isDelete" [sortable]="false" [draggable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Action
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button *ngIf="value" class="btn-delete" type="button" (click)="onDelete(row)">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>

    <div style="display: flex">
        <div class="exchange-product--collect-table">
            <table>
                <tr>
                    <th>TOTAL</th>
                    <th>{{formatNumberDecimal(totalAmount)}} $</th>
                </tr>
                <tr>
                    <td>GST (Inclusive)</td>
                    <td>7.00 %</td>
                </tr>
                <tr>
                    <td>NET</td>
                    <td>{{formatNumberDecimal(totalNet)}} $</td>
                </tr>
                <tr *ngIf="collect >= 0">
                    <td>COLLECT</td>
                    <td>{{formatNumberDecimal(collect)}} $</td>
                </tr>
                <tr *ngIf="collect < 0">
                    <td>REFUND</td>
                    <td>{{formatNumberDecimal(-collect)}} $</td>
                </tr>
            </table>
        </div>

        <div class="customer-actions--apply-membership" *ngIf="isOfflineMode">
            <div>
                <span class="message">Server is not available</span>
            </div>
            <button class="btn btn-warning" (click)="applyMemberPrice()" *ngIf="currentProductPriceType === 0">Apply Member Price</button>
            <button class="btn btn-danger" (click)="applyListPrice()" *ngIf="currentProductPriceType === 1">Apply List Price</button>
        </div>
    </div>

    <div class="collect-action">
        <button class="btn btn-success" (click)="onSelectPromotion()">Promotion</button>
        <button *ngIf="collect > 0" class="btn btn-warning collect-action-collect"
            (click)="onSelectCollect()">Collect</button>
        <button *ngIf="collect <= 0" class="btn btn-warning collect-action-refund"
            (click)="onSelectCollect()">Refund</button>
    </div>

</div>