@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';
@import 'src/app/pos/shared/scss/custom-ngx-datatable.scss';

.exchange-product {
  width: 95%;

  &--search-product {
    margin-bottom: 10px;
  }

  &--header {
      height: 60px;
      margin-top: 5px;
      margin-left: 10px;
      .call-back {
          float: left;
      }
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 2px solid;
    }
    
  td, th {
    text-align: left;
    padding: 8px;
    border-left: 2px solid;
  }

  th {
    background-color:  #7f828675
  }

  tr:nth-child(even) {
    background-color: #e8e8e8;
  }

  &--title-item {
    font-weight: 600;
  }

  &--purchase-table {
    width: 100%;
    padding: 10px;
    position: relative;
  }

  &--collect-table{
    width: 45%;
    padding: 10px 0px;
  }

  .product {
    .ngx-datatable {
      @extend .customer-ngx-datatable;

      .datatable-header {
          .datatable-header-inner {
              .datatable-row-center {
                  .datatable-header-cell {
                      &.description {
                          width: 100% !important;
                      }
                  }
              }
          }
      }

      .datatable-body {
        max-height: calc(100vh - 500px);

        datatable-scroller {
            .datatable-row-wrapper {
                .datatable-body-row {
                    .datatable-row-center {
                        .datatable-body-cell {
                            &.description {
                                width: 100% !important;
                            }

                            &.quantity {
                                text-align: center;
                            }
        
                            &.price {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
      }
    }

    .list-product{
        .btn-delete{
            border: none;
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
        .header-title-back-ground-color{
            background-color: rgb(165, 197, 54);
            font-weight: 1000;
        }
        .header-product-back-ground-color{
            background-color: #e8dada;
            font-weight: 1000;
        }
    }
  }

  .customer-actions--apply-membership {
    margin-top: 10px;
    margin-left: 5px;

    .message {
      margin-right: 5px;
      color: green;
    }
  }

  .collect-action {

    &-refund {
      margin-left: 10px;
    }

    &-collect {
      margin-left: 10px;
    }
  }
  .btn-increase {
    border: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .btn-decrease {
    border: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .btn-collect {
    margin: 0 5px;
    background-color: #ddd; 
  }
}
