<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span> <i class="far fa-edit field__icon-edit" (click)="edit()"></i>
    <p [innerHtml]="value"></p>
</div>

<ng-template #editMode>
    <app-ngx-editor [config]="editorConfig" [(ngModel)]="bindingValue" (blur)="save()"></app-ngx-editor>
</ng-template>
