<div class="modal-header">
  <h5 class="modal-title">Goods Return Detail</h5>
</div>
<div class="modal-body detail-goods-return">
  <div class="form-group">

    <label>From WareHouse</label>
    <span class="form-control">{{goodsReturnDetails.fromWareHouse}}</span>

    <label>To Vendor</label>
    <span class="form-control">{{goodsReturnDetails.toVendor}}</span>

    <label>Goods Return Number</label>
    <span class="form-control">{{goodsReturnDetails.goodsReturnCode}}</span>

    <label>Created Date</label>
    <span class="form-control">{{goodsReturnDetails.createdDate}}</span>
  </div>

  <div class="datatable">
    <div class="content">
      <table class="fixed">
        <tr class="header">
          <th class="header column-name text-center">Products</th>
          <th class="header column-name text-center">Variants</th>
          <th class="header column-name text-center">Quantity</th>
        </tr>
        <tr *ngFor="let item of inventoryTransactionGoodsReturnProducts; let i = index">
          <th class="header column-name text-center">
            <div class="cell product-cell">
              <div class="custom">
                <span>{{item.productName}}</span>
              </div>
              <div class="custom-tooltip" *ngIf="valueTooltip.products[i]">
                <div class="custom-tooltip__content">
                  {{valueTooltip.products[i].name}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell variant-cell">
              <div class="custom">
                <span>{{item.variants[0].name}}</span>
              </div>              
              <div class="custom-tooltip" *ngIf="valueTooltip.products[i]">
                <div class="custom-tooltip__content">
                  {{valueTooltip.products[i].variantName}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell">
              <span>{{item.quantity}}</span>              
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-secondary"
          type="button"
          (click)="onPrintTransfer()">Print</button> -->
  <button class="btn btn-secondary"
          type="button"
          (click)="onDismiss('Cross click')">
    Close
  </button>
</div>
