.detail-goods-return {
  button:disabled {
    cursor: not-allowed;
  }

  .columns-dropdown {
    display: flex;
    padding: 20px 20px 10px 0;
    justify-content: flex-start;

    .dropdown {
      display: flex;
      align-items: center;

      &-title {
        margin: 0px 20px;
      }
    }
  }

  .group-button {
    width: 80px;
    float: right;

    .btn-item {
      float: right;
    }

    .add-goods-return-button {
      padding-top: 10px;
      width: 110px;
    }
  }

  .datatable {
    height: 100%;
    padding: 10px 0px;
    z-index: 1;

    .content {
      padding: 10px 0;
    }

    table,
    th,
    td {
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      padding: 5px 5px;
    }


    table.fixed {
      table-layout: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      border-spacing: 0;

      .header {
        background-color: rgba(0, 0, 0, .03);
      }

      .cell {
        .custom {
          width: 200px;
          margin: 0 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .item-select {
            border-bottom: 1px solid #ccc;
          }
        }

        .ng-dropdown-panel {
          border: unset;
        }

        .ng-dropdown-panel-items.scroll-host {
          border: 1px solid #ccc;
          border-radius: 4px;
          width: fit-content;
          min-width: 200px;
        }

        .number-updown {
          height: 36px;
          width: 100px;
          padding-left: 10px;
        }
      }

      .icon {
        cursor: pointer;
      }
    }
  }
}


.product-cell {

  .custom-tooltip {
    position: relative;

    &__content {
      visibility: hidden;
      word-break: break-word;
      line-height: 16px;
      width: auto;
      min-width: 200px;
      background-color: #63737c;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 7px 4px;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 1;
    }
  }

  &:hover .custom-tooltip {
    position: relative;

    &__content {
      visibility: visible;
    }
  }
}

.variant-cell {

  .custom-tooltip {
    position: relative;

    &__content {
      visibility: hidden;
      word-break: break-word;
      line-height: 16px;
      width: auto;
      min-width: 200px;
      background-color: #63737c;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 7px 4px;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 1;
    }
  }

  &:hover .custom-tooltip {
    position: relative;

    &__content {
      visibility: visible;
    }
  }
}
