.term-and-privacy-page {
    flex-direction: column;
    height: 100vh;
	overflow: auto;
	padding: 20px;
}

.content-terms {
	height: 65%;
	overflow: auto;
	border: solid;
}

.button-group {
	padding: 0 !important;
    display: flex;
    justify-content: center;
}

.button {
	font-size: 35px;
    height: 100px;
}

.hide {
    opacity: 0.5;
    pointer-events: none;   
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
}

.custom-control {
	display: flex;
    &.fill-checkbox{
		--color: #26a69a;

		.fill-control-input{
			display: none;
			&:checked~.fill-control-indicator{
				background-color: var(--color);
				border-color: var(--color);
				background-size: 80%;
			}
		}
		.fill-control-indicator{
			border-radius: 3px;
			display: inline-block;
			position: initial;
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			border: 2px solid #aaa;
			transition: .3s;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
		}
	} 
}

@media (min-width: 577px) AND (max-width: 768px) {
	.custom-control {
		display: flex;
		&.fill-checkbox{
			--color: #26a69a;
	
			.fill-control-input{
				display: none;
				&:checked~.fill-control-indicator{
					background-color: var(--color);
					border-color: var(--color);
					background-size: 80%;
				}
			}
			.fill-control-indicator{
				border-radius: 3px;
				display: inline-block;
				position: initial;
				top: 0;
				left: 0;
				width: 40px;
				height: 30px;
				border: 2px solid #aaa;
				transition: .3s;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
			}
		} 
	}
}
