<div class="term-and-privacy-page w-100">
    <div *ngIf="isLoading" class="loading">
        <app-loading></app-loading>
    </div>
    <div class="content-terms p-3 w-100">
        <h1>{{headertermOfUse}}</h1>
        <br />
        <h2>{{termOfUseTitle}}</h2>
        <div [innerHTML]="termOfUseContent"></div>
        <br />
        <h2>{{policyTitle}}</h2>
        <div [innerHTML]="policyContent"></div>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center p-2">
        <label class="custom-control fill-checkbox">
            <input type="checkbox" class="fill-control-input" (click)="onClickCheckboxJoin()">
            <span class="fill-control-indicator"></span>
            <span class="fill-control-description h4 ml-2">{{agreeContent}}</span>
        </label>
    </div>
    <div class="button-group w-100 p-3">
        <button class="button btn btn-success btn-retry rounded w-50" [ngClass]="{'hide': !isJoin}" (click)="onClickJoinButton()">{{'BUTTON.join'|translate}}</button>
        <button class="button btn btn-secondary btn-retry rounded ml-3 w-50" (click)="onClickBackButton()">{{'BUTTON.back'|translate}}</button>
    </div>
</div>