<div *ngIf="isLoading"
     class="loading loading-indicator">
  <app-loading-indicator></app-loading-indicator>
</div>
<div class="row header">
  <div class="col-sm-6">
    <p class="h1">{{'APP.COMMON.CUSTOMERS' | translate}}</p>
  </div>
  <div class="col-sm-6 search">
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control"
             [(ngModel)]="searchText"
             #searchInput
             name="searchText"
             type="search"
             placeholder="Search"
             aria-label="Search">
    </form>
  </div>
</div>
<div class="customer-btn">
  <button (click)="onClickUploadFile()"
          type="button"
          class="btn btn-outline-secondary upload-file">{{'APP.COMMON.UPLOAD_FILE' | translate}}</button>
  <button (click)="onClickExportCSV()"
          type="button"
          class="btn btn-outline-secondary export-CSV">{{'APP.COMMON.EXPORT_CSV' | translate}}</button>
</div>
<div>
  <ngx-datatable class="material"
                 #tableCustomer
                 [rows]="customerList"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="'auto'"
                 [externalPaging]="true"
                 [count]="totalItem"
                 [offset]="pageNumber"
                 [limit]="pageSize"
                 [loadingIndicator]="loadingIndicator"
                 (page)='setPage($event)'>

    <!-- row detail -->
    <ngx-datatable-row-detail #customerDetailRow>
      <ng-template let-row="row"
                   let-expanded="expanded"
                   ngx-datatable-row-detail-template>
        <div *ngIf="isSmallDevice"
             class="row-details">
          <p> <b>{{'APP.COMMON.LAST_USED' | translate}}:</b> {{row.lastUsed}}</p>
          <p> <b>{{'APP.COMMON.DATE_OF_BIRTH' | translate}}:</b> {{row.dateOfBirth}}</p>
          <p> <b>{{'APP.COMMON.EMAIL' | translate}}:</b> {{row.email}}</p>
          <p> <b>{{'APP.COMMON.MEMBERSHIP_EXPIRY' | translate}}:</b> {{row.membershipExpiry}}</p>
          <p> <b>{{'APP.COMMON.BALANCE_POINT' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.pointBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
          <p> <b>{{'APP.COMMON.BALANCE_WALLET' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.walletBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
        </div>

        <div *ngIf="isExtraSmallDevice"
             class="row-details">
          <p> <b>{{'APP.COMMON.LAST_USED' | translate}}:</b> {{row.lastUsed}}</p>
          <p> <b>{{'APP.COMMON.JOINED' | translate}}:</b> {{row.joinedDate}}</p>
          <p> <b>{{'APP.COMMON.DATE_OF_BIRTH' | translate}}:</b> {{row.dateOfBirth}}</p>
          <p> <b>{{'APP.COMMON.EMAIL' | translate}}:</b> {{row.email}}</p>
          <p> <b>{{'APP.COMMON.MEMBERSHIP_TIER' | translate}}:</b> {{row.membershipTier}}</p>
          <p> <b>{{'APP.COMMON.MEMBERSHIP_EXPIRY' | translate}}:</b> {{row.membershipExpiry}}</p>
          <p> <b>{{'APP.COMMON.BALANCE_POINT' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.pointBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
          <p> <b>{{'APP.COMMON.BALANCE_WALLET' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.walletBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
        </div>

        <div class="row-details"
             *ngIf="!isExtraSmallDevice && !isSmallDevice">
          <p> <b>{{'APP.COMMON.LAST_USED' | translate}}:</b> {{row.lastUsed}}</p>
          <p> <b>{{'APP.COMMON.MEMBERSHIP_EXPIRY' | translate}}:</b> {{row.membershipExpiry}}</p>
          <p> <b>{{'APP.COMMON.BALANCE_POINT' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.pointBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
          <p> <b>{{'APP.COMMON.BALANCE_WALLET' | translate}}:</b> <span *ngIf="!isLoadBalance"> {{row.walletBalance}}</span>
            <span *ngIf="isLoadBalance"><i class="icon-loading fa fa-spinner fa-spin ml-2"></i></span></p>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <ngx-datatable-column [width]="50"
                          [resizeable]="false"
                          [sortable]="false"
                          [draggable]="false"
                          [canAutoResize]="false">
      <ng-template let-row="row"
                   let-expanded="expanded"
                   ngx-datatable-cell-template>
        <a [class.datatable-icon-right]="!expanded"
           [class.datatable-icon-down]="expanded"
           title="Expand/Collapse Row"
           (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

    <!-- table -->
    <ngx-datatable-column name="{{'APP.COMMON.NAME' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        <a class="customer-name"
           [routerLink]="['/customer-detail', row.id,row.customerCode]">{{row.name}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="!isSmallDevice && !isExtraSmallDevice"
                          name="{{'APP.COMMON.DATE_OF_BIRTH' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        {{row.dateOfBirth}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="!isSmallDevice && !isExtraSmallDevice"
                          name="{{'APP.COMMON.EMAIL' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        {{row.email}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="170"
                          name="{{'APP.COMMON.MOBILE_NO' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        <div class="phone">
          {{row.phone}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="!isExtraSmallDevice"
                          name="{{'APP.COMMON.JOINED' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        {{row.joinedDate}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="!isExtraSmallDevice"
                          name="{{'APP.COMMON.MEMBERSHIP_TIER' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        {{row.membershipTier}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'APP.COMMON.STATUS' | translate}}">
      <ng-template let-column="column"
                   ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row"
                   ngx-datatable-cell-template>
        {{row.status}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
