@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';

.outlet-body {
    padding: 20px 20px;
}

.grid {
    border: solid 1px darkgray;
    background-color: #fff;
}

.row-detail {
    background-color: rgb(223, 237, 253);
    font-size:14px;
    .row-details-staff-detail{
      padding-left: 50px;
    }
}
.ngx-datatable.material .datatable-body .datatable-row-detail {
  height: fit-content !important;
}

.toggle-icon{
  color: #6c757d !important;
  text-decoration : none;
}

.phone {
  white-space: nowrap;
}
.icon {
  height: 65px;
  width: 65px;
}
