@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';
@import 'src/app/pos/shared/scss/custom-ngx-datatable.scss';

.refund-detail {
    width: 95%;
    
    &--header {
        height: 60px;
        margin-top: 5px;
        margin-left: 10px;
        .call-back {
            float: left;
        }
    }
    .product {
        .ngx-datatable {
            @extend .customer-ngx-datatable;

            .datatable-header {
                .datatable-header-inner {
                    .datatable-row-center {
                        .datatable-header-cell {
                            &.description {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }

            .datatable-body {
                max-height: calc(100vh - 80px);

                datatable-scroller {
                    .datatable-row-wrapper {
                        .datatable-body-row {
                            .datatable-row-center {
                                .datatable-body-cell {
                                    &.description {
                                        width: 100% !important;
                                    }

                                    &.quantity {
                                        text-align: center;
                                    }
                
                                    &.price {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .list-product{
            .btn-delete{
                border: none;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
            }
            .header-title-back-ground-color{
                background-color: rgb(165, 197, 54);
                font-weight: 1000;
            }
            .header-product-back-ground-color{
                background-color: #e8dada;
                font-weight: 1000;
            }
        }
    }
    .btn-actions{
        margin-top: 10px;
        float: right;
    }
}