<div class="refund-detail" [ngStyle]="{'width': pageWidth}">
  <div class="refund-refund--header">
    <app-page-callback class="call-back" [title]='title' [defaultPage]='defaultPage' (back)="onBack()">
    </app-page-callback>
  </div>
  <div class="product">
    <ngx-datatable #myTable class="material list-product expandable" [rows]="dataSource" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowClass]="getRowClass" [rowHeight]="50">
      <ngx-datatable-column name="description" [sortable]="false" [draggable]="false"
        headerClass="description"
        cellClass="description">
        <ng-template let-column="column" ngx-datatable-header-template>
          Description
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="quantity" [sortable]="false" [draggable]="false"
        headerClass="quantity"
        cellClass="quantity">
        <ng-template let-column="column" ngx-datatable-header-template>
          Quantity
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="price" [sortable]="false" [draggable]="false"
        headerClass="price"
        cellClass="price">
        <ng-template let-column="column" ngx-datatable-header-template>
          Unit Price ($)
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <strong>{{formatNumberDecimal(value)}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="isPromotion" [sortable]="false" [draggable]="false"
        headerClass="isPromotion"
        cellClass="isPromotion">
        <ng-template let-column="column" ngx-datatable-header-template>
          Action
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button *ngIf="value" class="btn-delete" type="button" (click)="onDelete(row)">
            <i class="far fa-trash-alt fa-lg"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template
                     let-rowCount="rowCount"
                     let-pageSize="pageSize"
                     let-selectedCount="selectedCount"
                     let-curPage="curPage"
                     let-offset="offset">
        </ng-template>
    </ngx-datatable-footer>
    </ngx-datatable>
  </div>
  <div class="btn-actions">
    <button class="btn btn-outline-secondary reset reprint" 
      [disabled]='disableRefundButton'
      (click)="onClickRefund()">
      Refund ({{formatNumberDecimal(exchangeMoney)}} $)
    </button>
  </div>
</div>