.change-password-page {
    height: 100vh;
}

.menu-button {
    
    &__label {
        cursor: pointer;
    }

    &::after {
        content: unset !important;
    }
}

.outlet-info {

    &__avatar { 
        height: 80px;
    }
}

.menu {
    cursor: pointer;
}

.confirm-button {
    background-color: #e42c00;
    
    &:hover {
        background-color: #ff4518;
    }
}

.invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
}