<div class="change-password-page w-100">
  <div *ngIf="isLoading"
       class="loading">
    <app-loading></app-loading>
  </div>
  <div class="change-password-page__navbar navbar p-3"
       [ngStyle]="panelColorProperties">
    <div class="outlet-info d-flex align-items-center w-75">
      <img class="outlet-info__avatar navbar-brand float-left"
           src="{{outletAvatar}}">
      <p class="outlet-info__name h2 float-left">{{currentOutlet.name}}</p>
    </div>
    <div ngbDropdown
         placement="bottom-right">
      <button class="menu-button border-0 bg-transparent"
              ngbDropdownToggle>
        <span class="menu-button__label fas fa-align-justify text-white h2"></span>
      </button>
      <div ngbDropdownMenu
           class="pop-menu border rounded-0">
        <button class="dropdown-item"
                (click)="onClickHomeButton()">{{'MENU.home'|translate}}</button>
        <button class="dropdown-item"
                (click)="onClickDashboardButton()">{{'MENU.dashboard'|translate}}</button>
        <button class="dropdown-item"
                (click)="onClickServingButton()">{{'MENU.serving'|translate}}</button>
        <button class="dropdown-item"
                (click)="onClickListCustomerButton()"
                *ngIf="checkPermissionCurrentUser(nameRoleAdminStaff)">{{'MENU.list-customers'|translate}}</button>
        <button class="dropdown-item"
                (click)="onClickTransactionsButton()">{{'MENU.transactions-history'|translate}}</button>
        <button class="dropdown-item"
                (click)="onClickLogoutButton()">{{'MENU.logout'|translate}}</button>
      </div>
    </div>
  </div>
  <div class="body-page p-3">
    <div class="panel-body border p-3 bg-white">
      <p class="h2">{{'CHANGE_PASSWORD.title'|translate}}</p>
      <hr>
      <form [formGroup]="changePasswordForm">
        <div class="form-group">
          <label for="exampleInputPassword1">{{'CHANGE_PASSWORD.current-password'|translate}}</label>
          <input [(ngModel)]="currentPassword"
                 formControlName="currentPasswordControl"
                 type="password"
                 class="form-control"
                 id="exampleInputPassword1"
                 placeholder="Enter current password"
                 [ngClass]="{'is-invalid':(changePasswordForm.get('currentPasswordControl').touched ||
          changePasswordForm.get('currentPasswordControl').dirty) && !changePasswordForm.get('currentPasswordControl').valid}"
        
                 required>
          <span class="error invalid"
                *ngIf="(changePasswordForm.get('currentPasswordControl').touched || changePasswordForm.get('currentPasswordControl').dirty) && changePasswordForm.get('currentPasswordControl').errors">
            <span *ngIf="changePasswordForm.get('currentPasswordControl').errors.required">
              {{'ERROR.fill-current-password'|translate}}
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">{{'CHANGE_PASSWORD.new-password'|translate}}</label>
          <input [(ngModel)]="newPassword"
                 formControlName="newPasswordControl"
                 type="password"
                 class="form-control"
                 id="exampleInputPassword2"
                 placeholder="Enter new password"
                 [ngClass]="{'is-invalid':(changePasswordForm.get('newPasswordControl').touched ||
          changePasswordForm.get('newPasswordControl').dirty) && !changePasswordForm.get('newPasswordControl').valid}"
                 required>
          <span class="error invalid"
                *ngIf="(changePasswordForm.get('newPasswordControl').touched || changePasswordForm.get('newPasswordControl').dirty) && changePasswordForm.get('newPasswordControl').errors">
            <span *ngIf="changePasswordForm.get('newPasswordControl').errors.required">
              {{'ERROR.fill-new-password'|translate}}
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword3">{{'CHANGE_PASSWORD.repeat-new-password'|translate}}</label>
          <input [(ngModel)]="repeatPassword"
                 formControlName="repeatNewPasswordControl"
                 type="password"
                 class="form-control"
                 id="exampleInputPassword3"
                 placeholder="Repeat new password"
                 [ngClass]="{'is-invalid':(changePasswordForm.get('repeatNewPasswordControl').touched ||
          changePasswordForm.get('repeatNewPasswordControl').dirty) && !changePasswordForm.get('repeatNewPasswordControl').valid}"
        
                 required>
          <span class="error invalid"
                *ngIf="(changePasswordForm.get('repeatNewPasswordControl').touched || changePasswordForm.get('repeatNewPasswordControl').dirty) && changePasswordForm.get('repeatNewPasswordControl').errors">
            <span *ngIf="changePasswordForm.get('repeatNewPasswordControl').errors.required">
              {{'ERROR.fill-repeat-new-password'|translate}}
            </span>
          </span>
        </div>
        <button type="submit"
                class="confirm-button btn text-white text-center mt-2"
                (click)="onClickConfirmButton()">{{'BUTTON.confirm'|translate}}</button>
      </form>
    </div>
  </div>
</div>
