<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span>: <span class="field__tag" *ngFor="let index of value">{{index}}</span>
    <i class="far fa-edit field__icon-edit" (click)="edit()"></i>
</div>

<ng-template #editMode>
    <tag-input [(ngModel)]='bindingValue' [modelAsStrings]="true" (ngModelChange)="save(bindingValue)">

    </tag-input>
</ng-template>

