#sales-customer-detail {
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;

  .customer-plus {
    display: flex;
    position: relative;

    &--icon {
      margin-left: 50px;
      margin-right: 20px;

      .icon {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 50px;
      }
    }

    &--info {
      display: flex;
      align-items: center;

      span {
        font-size: 20px;
      }
    }
  }

  .customer-actions {
    position: absolute;
    right: 10px;
    display: flex;

    &--apply-membership {
      margin-right: 10px; 

      .message {
        margin-right: 5px;
        color: green;
      }
    }

    &--delete {
      cursor: pointer;

      i {
        font-size: 40px;
      }
    }
  }

  .customer-profile-data {
    margin: 5px 35px;

    .data-item {
      list-style: none;
      padding: 0 10px;
      display: inline-block;
      border-right: 1px solid #333;
      line-height: 5px;
      margin: 10px 0;
    }

    .data-item:last-child {
      border: none;
    }
  }

  .customer-profile-information {
    button {
      width: 100%;
      font-weight: 800;
      height: 45px;
      font-size: 20px;
    }

    &--profile-button {
      background-color: #f4ce42;
    }

    &--purchases-button {
    }
  }
}
