﻿@model Harvey.Report.Web.Models.WebReportModel

<style>
    body {
        margin: 0 auto;
        text-align: center;
    }
</style>

<div class="webreport">
    @await Model.WebReport.Render()
</div>
