<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span>: <span [ngClass]="{'field__tag': value && value != ''}">{{value}} </span>

    <span><i class="far fa-edit field__icon-edit" (click)="edit()"></i></span>
</div>

<ng-template #editMode>
        <input class="form-control" [(ngModel)]="bindingValue" type="text" (ngModelChange)="save()"/>
  </ng-template>
