<div class="manual-transfer-out-page">
  <p class="list-view-title h4">
    Transfer Out Management
  </p>
  <div class="row">
      <div class="col-4">
        <form [formGroup]="locationForm">
          <fieldset>
            <div class="form-group">
              <label class="dropdown-title">From</label>
              <ng-select formControlName="fromLocation" [items]="locations" bindLabel="name" bindValue="id" placeholder="Select from location"
                [loading]="isLocationsLoading" [(ngModel)]="selectedFromLocation" (ngModelChange)="onSelectedFromLocation()" [clearable]=false>
              </ng-select>
  
              <label class="dropdown-title">To</label>
              <ng-select formControlName="toLocation" [items]="locations" bindLabel="name" bindValue="id" placeholder="Select to location"
                [loading]="isLocationsLoading" [(ngModel)]="selectedToLocation" [clearable]=false>
              </ng-select>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  <div class="datatable">
      <button class="btn btn-secondary" [disabled]="locationForm.invalid" type="button" (click)="onClickAddButton()">Add</button>
      <div class="content">
        <table class="fixed">
          <tr class="header">
            <th class="header column-name text-center">Products</th>
            <th class="header column-name text-center">Variants</th>
            <th class="header column-name text-center">StockOnHand</th>
            <th class="header column-name text-center">Quantity</th>
            <th class="header column-name text-center"></th>
          </tr>
          <tr *ngFor="let item of transferOutViewModel; let i = index">
            <th class="header column-name text-center">
              <div class="cell">
                <ng-select class="custom" [items]="products" bindLabel="name" bindValue="id" placeholder="Select product"
                  [(ngModel)]="item.productId" (change)="onSelectedProductChange(i)" (search)="searchText.next($event)"
                  [clearable]=false>
                </ng-select>
              </div>
            </th>
            <!-- <th class="header column-name text-center">
              <div class="cell">
                <ng-select class="custom" [items]="item.variants" bindLabel="name" bindValue="id" placeholder="Select variant"
                  [loading]="item.isVariantsLoading" [(ngModel)]="item.variantId" (ngModelChange)="onSelectedVariantChange(i, $event)"
                  [clearable]=false>
                </ng-select>
              </div>
            </th> -->
            <th class="header column-name text-center">
              <div class="text-box"
                   (click)="openVariantModal(i, item)">
                <div class="text-box__empty"
                     *ngIf="!item.variant">
                  <span>select variant</span>
                </div>
                <div class="text-box__input"
                     *ngIf="item.variant">
                  <div *ngFor="let field of item.variant.fieldValues"
                       class="field__tag">
                    <div class="field__tag-title">{{field.name}}: <span class="font-weight-normal"
                            *ngFor="let value of field.value; let i = index">
                        <span *ngIf="i == 0">{{value}}</span><span *ngIf="i > 0">,
                          {{value}}</span></span>
                    </div>
  
                    <div class="field__tag-tooltip-wrapper open">
                      <div class="field__tag-tooltip">{{field.name}}: <span class="font-weight-normal"
                              *ngFor="let value of field.value; let i = index">
                          <span *ngIf="i == 0">{{value}}</span><span *ngIf="i > 0">,
                            {{value}}</span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th class="header column-name text-center">
              <div class="cell">
                {{item.stockOnHand}}
              </div>
            </th>
            <th class="header column-name text-center">
              <div class="cell">
                <input class="number-updown" type="number" name="input" (change)="onQuantityChange(i)" [(ngModel)]="item.quantity"
                  oninput="validity.valid||(value='');" min="0">
              </div>
            </th>
            <th class="header column-name text-center">
              <div class="cell">
                <i class="fas fa-trash-alt fa-lg icon" (click)="deleteTransferOutItem(i)"></i>
              </div>
            </th>
          </tr>
        </table>
        <app-loading-spinner [hiddenLoadingIndicator]="hiddenLoadingIndicator"></app-loading-spinner>
      </div>
  </div>
  <div class="group-button col-12">
    <div class="btn-item">
      <button type="button" class="btn btn-outline-secondary back-btn" (click)="onClickBackButton()">Back</button>
    </div>
    <div class="btn-item">
      <button type="button" [disabled]="locationForm.invalid" class="btn btn-outline-secondary reset" (click)="onClickSubmitButton()">Submit</button>
    </div>
  </div>
</div>