<div class="purchase-order-block">
  <div class="block-header">
    <p class="h4">
      {{title}}
    </p>
  </div>
  <div class="block-body">
    <div class="loading" *ngIf="isLoading">
      <i class="icon-loading fa fa-spinner fa-spin ml-2 show fa-3x"></i>
    </div>

    <div class="list-purchase-order-item" *ngIf="!isLoading">
      <div class="purchase-order-item"
           *ngFor="let item of poBlockItems">
        <div class="purchase-order-item__icon"
             [innerHTML]="item.icon"></div>
        <span (click)="onClickPurchaseOrderSummaryItem(item)"
              class="purchase-order-item__title">{{item.statusTitle}}({{item.countNumber}})</span>
      </div>
    </div>

  </div>
  <div class="block-footer" *ngIf="!isLoading">
    <button class="btn btn-outline-secondary"
            (click)="onClickPurchaseOrderSummaryItem()">View purchase orders</button>
  </div>
</div>
