.purchase-order-block {
  margin: 10px;
  border: 3px solid #cac7c6;
  border-radius: 10px;
  padding: 10px;
  .block-header {
  }

  .block-body {
    .loading {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    .list-purchase-order-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      .purchase-order-item {
        border: 2px solid #cac7c6;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        max-height: max-content;
        padding: 5px;
        text-align: center;
        &__icon {
          border-radius: 10%;
          width: 100px;
          height: 100px;
        }
        &__title {
          color: #007bff;
          &:hover {
            color: #0056b3;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .block-footer {
    display: flex;
    justify-content: flex-end;
  }
}
