.customer-ngx-datatable {
    max-height: calc(100vh - 155px);

    .datatable-header {
        .datatable-header-inner {
            width: 100% !important;

            .datatable-row-center {
                width: 100% !important;
            }
        }
    }

    .datatable-body {
        overflow-y: auto;

        datatable-scroller {
            width: 100% !important;

            .datatable-row-wrapper {
                .datatable-body-row {
                    width: 100% !important;

                    .datatable-row-center {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}