.home-page {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.back-to-login {
    cursor: pointer;
    color:#e42c00 !important;

    &:hover {
        color:#ff5932 !important;
        text-decoration: none;
    }
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
}
