<div class="row header">
    <div class="col-sm-6">
      <p class="h1">Staffs</p>
    </div>
    <div class="col-sm-6 search">
      <form class="form-inline my-4 my-lg-0 ">
        <input class="form-control col-sm-12" [(ngModel)]="searchString" #searchInput  name="searchString" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
  <ngx-datatable #staffTable class="material" [rows]="staffs" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [externalPaging]="true" [count]="totalItem" [offset]="pageNumber" [limit]="pageSize" [loadingIndicator]="loadingIndicator" (page)='setPage($event)'>
  
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div *ngIf="!isLargeDevice" class="row-detail-staff-table">
              <p> <b>{{'APP.COMMON.LAST_USED' | translate}}:</b> {{row.lastUsed}}</p>
              <p *ngIf="!isSmallDevice"> <b>{{'APP.COMMON.BIRTHDAY' | translate}}:</b> {{row.dateOfBirth}}</p>
              <p *ngIf="!isExtraSmallDevice"> <b>{{'APP.COMMON.EMAIL' | translate}}:</b> {{row.email}}</p>
              <p *ngIf="!isExtraSmallDevice" class="phone"> <b>{{'APP.COMMON.MOBILE_NO' | translate}}:</b> 
                <span>+</span>{{row.phoneCountryCode}} {{row.phone}}
              </p>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    
    <ngx-datatable-column  *ngIf="!isLargeDevice"
                           [width]="20" [resizeable]="false" 
                           [sortable]="false" [draggable]="false" [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" class="toggle-icon" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'APP.COMMON.NAME' | translate}}">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="isSmallDevice" name="{{'APP.COMMON.BIRTHDAY' | translate}}">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.dateOfBirth}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="isExtraSmallDevice" name="{{'APP.COMMON.EMAIL' | translate}}">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.email}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="isExtraSmallDevice" name="{{'APP.COMMON.MOBILE_NO' | translate}}">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="phone">
            {{row.phone}}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="isLargeDevice"
                          [width]="10" name="{{'APP.COMMON.LAST_USED' | translate}}">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.lastUsed}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="{{'APP.COMMON.SET_PASSWORD' | translate}}">
        <ng-template let-column="column" ngx-datatable-header-template>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          &nbsp;
          <button *ngIf="checkPermissionSetPassword(row.typeOfStaff)" type="submit" (click)="onClickSetPassword(row.email)" class="btn btn-danger text-center">{{'APP.COMMON.SET_PASSWORD' | translate}}</button>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>