<div class="activity">
  <div class="row activity__header">
    <div class="col-sm-6">
      <p class="h1">{{'APP.COMMON.ACTIVITY' | translate}}</p>
    </div>
    <div class="col-sm-6 search">
      <div class="groupName-dropdown">
        <ng-select [items]="actionTypes"
                   bindValue="id"
                   bindLabel="name"
                   placeholder="{{'APP.ACTIVITY.SELECT_ACTION_TYPE' | translate}}"
                   class="custom"
                   [(ngModel)]="selectedActionType"
                   [clearable]=false
                   (change)="onChange($event)">
        </ng-select>
      </div>
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control"
               [(ngModel)]="searchText"
               #searchInput
               name="searchText"
               type="search"
               placeholder="Search"
               aria-label="Search">
      </form>
    </div>
  </div>

  <div>
    <ngx-datatable #activityTable
                   class="material"
                   [rows]="dataList"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [externalPaging]="true"
                   [count]="totalItem"
                   [offset]="pageNumber"
                   [limit]="pageSize"
                   [loadingIndicator]="loadingIndicator"
                   (page)='setPage($event)'>

      <ngx-datatable-row-detail [rowHeight]="'auto'"
                                #myDetailRow
                                *ngIf="!isLargeDevice">
        <ng-template let-row="row"
                     let-expanded="expanded"
                     ngx-datatable-row-detail-template>
          <div class="row-detail-activity-table">
            <p> <b>{{'APP.ACTIVITY.CREATEDBY' | translate}}:</b> {{row.createdBy}}</p>
            <p *ngIf="!isSmallDevice"> <b>{{'APP.ACTIVITY.CREATEDBYNAME' | translate}}:</b> {{row.createdByName}}</p>
            <p *ngIf="!isSmallDevice"> <b>{{'APP.ACTIVITY.CREATEDDATE' | translate}}:</b> {{row.createdDate}}</p>
            <p *ngIf="!isExtraSmallDevice"> <b>{{'APP.ACTIVITY.DESCRIPTION' | translate}}:</b> {{row.description}}</p>
            <p *ngIf="!isExtraSmallDevice"> <b>{{'APP.ACTIVITY.COMMENT' | translate}}:</b> {{row.comment}}</p>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column *ngIf="!isLargeDevice"
                            [width]="20"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
        <ng-template let-row="row"
                     let-expanded="expanded"
                     ngx-datatable-cell-template>
          <a href="javascript:void(0)"
             class="toggle-icon"
             [class.datatable-icon-right]="!expanded"
             [class.datatable-icon-down]="expanded"
             title="Expand/Collapse Row"
             (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'APP.ACTIVITY.ACTIONTYPE' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.actionType}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'APP.ACTIVITY.ACTIONAREA' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.actionArea}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isExtraSmallDevice"
                            name="{{'APP.ACTIVITY.OUTLETCODE' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.outletCode}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isExtraSmallDevice"
                            name="{{'APP.ACTIVITY.DESCRIPTION' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.description}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isExtraSmallDevice"
                            name="{{'APP.ACTIVITY.COMMENT' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.comment}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isLargeDevice"
                            name="{{'APP.ACTIVITY.CREATEDBY' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.createdBy}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isSmallDevice"
                            name="{{'APP.ACTIVITY.CREATEDBYNAME' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.createdByName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isSmallDevice"
                            name="{{'APP.ACTIVITY.CREATEDDATE' | translate}}">
        <ng-template let-column="column"
                     ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row"
                     ngx-datatable-cell-template>
          {{row.createdDate}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
