@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '@swimlane/ngx-datatable/release/themes/bootstrap.css';

.activity {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &__header {
        margin: 20px 0;

        .search {
            float: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .row-detail-activity-table{
        padding-left: 50px;
    }
    
    .toggle-icon{
        color: #6c757d !important;
        text-decoration : none;
    }
    
    .groupName-dropdown {
        margin-right: 10px;
    }
      
    .ng-select.custom {
        min-width: 200px;
    }
}


