<div class="modal-header">
  <h5 class="modal-title">Goods Inward Detail</h5>
</div>
<div class="modal-body detail-goods-inward">
  <app-loading-indicator></app-loading-indicator>
  <div class="form-group">

    <label>From Vendor</label>
    <span class="form-control">{{goodsInwardDetails.fromLocation}}</span>

    <label>To WareHouse</label>
    <span class="form-control">{{goodsInwardDetails.toLocation}}</span>

    <label>Goods Inward Number</label>
    <span class="form-control">{{goodsInwardDetails.giwNumber}}</span>

    <label>Created Date</label>
    <span class="form-control">{{goodsInwardDetails.createdDate}}</span>
  </div>

  <div class="datatable">
    <div class="content">
      <table class="fixed">
        <tr class="header">
          <th class="header column-name text-center">Products</th>
          <th class="header column-name text-center">Variants</th>
          <th class="header column-name text-center">Quantity</th>
        </tr>
        <tr *ngFor="let item of inventoryTransactionGoodsInwardProducts; let i = index">
          <th class="header column-name text-center">
            <div class="cell product-cell">
              <ng-select class="custom"
                         [items]="products"
                         bindLabel="name"
                         bindValue="id"
                         placeholder="Select product"
                         [(ngModel)]="item.productId"
                         [clearable]=false
                         [disabled]="true">
              </ng-select>
              <div class="custom-tooltip" *ngIf="tooltipValues.products[i]">
                <div class="custom-tooltip__content">
                  {{tooltipValues.products[i].name}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell variant-cell">
              <ng-select class="custom"
                         [items]="item.variants"
                         bindLabel="name"
                         bindValue="id"
                         placeholder="Select variant"
                         [(ngModel)]="item.variantId"
                         [clearable]=false
                         [disabled]="true">
              </ng-select>
              <div class="custom-tooltip" *ngIf="tooltipValues.products[i]">
                <div class="custom-tooltip__content">
                  {{tooltipValues.products[i].variantName}}
                </div>
              </div>
            </div>
          </th>
          <th class="header column-name text-center">
            <div class="cell">
              <input class="number-updown"
                     type="number"
                     name="input"
                     [(ngModel)]="item.quantity"
                     oninput="validity.valid||(value='');"
                     min="0"
                     [disabled]="true">              
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary"
          type="button"
          (click)="onPrintTransfer()">
    Print
  </button>
  <button class="btn btn-secondary"
          type="button"
          (click)="onDismiss('Cross click')">
    Close
  </button>
</div>
