<div class="refund" [ngStyle]="{'width': pageWidth}">
    <div class="refund--header">
      <app-page-callback
        class="call-back"
        [title]='title'
        [defaultPage]='defaultPage'
        (back)="onBack()">
      </app-page-callback>
    </div>
    <div class="product" *ngIf="sale">
        <ngx-datatable
          #myTable
          class="material striped list-product expandable"
          [rows]="dataSource"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50">
          <ngx-datatable-column name="description" [sortable]="false" [draggable]="false"
            headerClass="description"
            cellClass="description">
            <ng-template let-column="column" ngx-datatable-header-template>
              Description
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="quantity" [sortable]="false" [draggable]="false"
            headerClass="quantity"
            cellClass="quantity">
            <ng-template let-column="column" ngx-datatable-header-template>
              Purchased Quantity
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="refundQuantity" [sortable]="false" [draggable]="false"
            headerClass="refundQuantity"
            cellClass="refundQuantity">
            <ng-template let-column="column" ngx-datatable-header-template>
                Refund Quantity
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <button class="btn-decrease" type="button" (click)="onInPutNumberMinus(row)">
                  <i class="fas fa-minus"></i>
              </button>
              <app-input-with-keyboard id="{{productRefundQuantityId}}{{rowIndex}}" type="number" [style]="inputQuantityStyle" inputSelectText="true" isNumpad="true"
                [value]="value" (valueChange)="onChangeQuantity($event,row)">
              </app-input-with-keyboard>
              <button class="btn-increase" type="button" (click)="onInPutNumberPlus(row)">
                  <i class="fas fa-plus"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="price" [sortable]="false" [draggable]="false"
            headerClass="price"
            cellClass="price">
            <ng-template let-column="column" ngx-datatable-header-template>
              Unit Price ($)
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{formatNumberDecimal(value)}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="pageSize"
                         let-selectedCount="selectedCount"
                         let-curPage="curPage"
                         let-offset="offset">
            </ng-template>
        </ngx-datatable-footer>
        </ngx-datatable>
    </div>
    
    <div class="refund-reason">
      <app-input-with-keyboard id="{{productRefundReasonId}}" placeholder='Reason to refund' [isTextarea]="isTextarea" [style]="inputReasonStyle" inputSelectText="true"
          [value]="reasonRefund" (valueChange)="onChangeReason($event)">
      </app-input-with-keyboard>
  </div>
    <div class="btn-actions">
        <button class="btn btn-outline-secondary reset reprint"
          [disabled]="isDisableNextStepButton"
          (click)="onClickNext()">
          Next
        </button>
    </div>
</div>