@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';
@import 'src/app/pos/shared/scss/custom-ngx-datatable.scss';

.refund {
    width: 95%;
    height: calc(100vh - 105px);
    
    &--header {
        height: 60px;
        margin-top: 5px;
        margin-left: 10px;
        .call-back {
            float: left;
        }
    }
    .product {
        .ngx-datatable {
            @extend .customer-ngx-datatable;
            
            .datatable-header {
                .datatable-header-inner {
                    .datatable-row-center {
                        .datatable-header-cell {
                            &.description {
                                width: 100% !important;
                            }

                            &.quantity {
                                width: 220px !important;
                            }

                            &.refundQuantity {
                                text-align: center;
                                width: 220px !important;
                            }
                        }
                    }
                }
            }
    
            .datatable-body {
                max-height: calc(100vh - 470px);
    
                datatable-scroller {
                    .datatable-row-wrapper {
                        .datatable-body-row {
                            .datatable-row-center {
                                .datatable-body-cell {
                                    &.description {
                                        width: 100% !important;
                                    }
    
                                    &.quantity {
                                        text-align: center;
                                        width: 220px !important;
                                    }
                
                                    &.price {
                                        text-align: center;
                                    }

                                    &.refundQuantity {
                                        width: 220px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .list-product{
            input[type="number"] {
                -webkit-appearance: textfield;
                   -moz-appearance: textfield;
                        appearance: textfield;
              }
              input[type=number]::-webkit-inner-spin-button, 
              input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
              }
            .number-updown {
                height: 30px;
                min-width: 20px;
                max-width: 80px;
                padding-left: 2px;
                border: none;
                border-color: transparent;
                text-align: center;
            }
            .btn-increase {
                border: none;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
                padding: 0;
                margin: 0;
            }
            .btn-decrease {
                border: none;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
                padding: 0;
                margin: 0;
            }
        }
    }
    .refund-reason{
        height: 200px;

        app-input-with-keyboard {
            textarea {
                height: 150px !important;
            }
        }
        
        .refund-reason-text{
            height: 150px;
            width: 100%;
            margin-top: 50px;
            padding: 10px;
        }
    }
    .btn-actions{
        float: right;
    }
}