<div class="goods-return-page">
  <p class="list-view-title h4">
    Goods Return Management
  </p>
  <div class="filter-multi-select col-12" *ngIf="!isShowAddGoodsReturn">
    <div class="filter-multi-select-field col-4">
        <div class="filter-multi-select-field-title">
            <p class="h6">FromLocation</p>
        </div>
        <app-filter-multi-select [dropdownList]="fromLocationDropdownList" [customPlaceholder]="fromLocationPlaceholder" (dropDownListItem)='displaydropDownListFromLocation($event)'class="filter-multi-select-field-view"></app-filter-multi-select>
    </div>
    <div class="filter-multi-select-field col-4">
        <div class="filter-multi-select-field-title">
            <p class="h6">ToLocation</p>
        </div>
        <app-filter-multi-select [dropdownList]="toLocationDropdownList" [customPlaceholder]="toLocationPlaceholder" (dropDownListItem)='displaydropDownListToLocation($event)'class="filter-multi-select-field-view"></app-filter-multi-select>
    </div>
  </div>
  <div *ngIf="!isShowAddGoodsReturn">
    <app-list-view-management [title]="title"
                              [datasource]="datasource"
                              [pageSize]="pageSize"
                              [listButton]="listButton"
                              [actionType]="actionType"
                              [isMultiSelect]="isMultiSelect"
                              [isHiddenSearchBox]="isHiddenSearchBox"
                              (changeSelectedPage)="changeSelectedPage($event)"
                              [userDefinedColumnSetting]="userInventoryTransactionDefinedColumnSetting"
                              (searchQuery)="eventSearchQuery($event)"
                              (clickButton)="handleOnClick($event)"
                              (sortCondition)="eventSort($event)" [resetSort]="resetSort">
    </app-list-view-management>
  </div>


  <div class="row transfer-out-datatable"
       *ngIf="isShowAddGoodsReturn">
    <div class="col-12">
      <app-add-goods-return (onclickBackToListingButton)="onclickBackToListingButton($event)"></app-add-goods-return>
    </div>
  </div>
</div>
