.recent-sale-detail-header {
    .customer-info {
        margin-bottom: 10px;

        span {
            font-weight: 600;
        }
    }

    .billno-previous {
        @extend .customer-info;

        &-detail {
            color: #ff0000;
        }
    }

    .billno-next {
        @extend .customer-info;

        &-detail {
            color: #0000ff;
        }
    }

    .total-price {
        margin-bottom: 10px;
        
        span {
            font-weight: 600;
        }
    }
}
