<div class="recent-sale-detail-header" *ngIf="sale">
    <div class="customer-info">
        Bill No: <span>{{sale.billNo}}</span>
    </div>

    <div class="billno-previous" *ngIf="previousSale" (click)="goToRecentSaleDetail(previousSale.id, previousSale.orderTransactionType)">
        Bill No: <span>{{previousSale.billNo}}</span>
        <span class="billno-previous-detail"> (Previous)</span>
    </div>

    <div class="billno-next" *ngIf="nextSale" (click)="goToRecentSaleDetail(nextSale.id, nextSale.orderTransactionType)">
        Bill No: <span>{{nextSale.billNo}}</span>
        <span class="billno-next-detail"> (Next)</span>
    </div>

    <div class="customer-info">
        Customer Name: <span>{{sale.customerName}}</span>
    </div>

    <div class="total-price">
        Net: <span>{{formatNumberDecimal(sale.amount)}} $</span>
    </div>

    <div class="total-price" *ngIf="sale.orderTransactionType !== 0">
        <ng-container *ngIf="sale.collect >= 0">
            Collect: <span>{{formatNumberDecimal(sale.collect)}} $</span>
        </ng-container>
        
        <ng-container *ngIf="sale.collect < 0">
            Refund: <span>{{formatNumberDecimal(-sale.collect)}} $</span>
        </ng-container>
    </div>

    <div class="total-price">
        <ng-container *ngIf="sale.gstInclusive">
            GST: <span>{{formatNumberDecimal(sale.gst)}} % (Inclusive)</span>
        </ng-container>

        <ng-container *ngIf="!sale.gstInclusive">
            GST: <span>{{formatNumberDecimal(sale.gst)}} % </span>
        </ng-container>
    </div>

    <div class="customer-info">
        Created date: <span>{{formatDate(sale.createdDate)}}</span>
    </div>
</div>