/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8f9fa;
}

.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.main-container-unauthenticated {
    margin-top: 0;
    margin-left: 0;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    .main-container {
        margin-left: 0px !important;
    }
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}