<div class="receipt-refund"
     [ngStyle]="{'width': pageWidth}">
  <div class="receipt--call-back">
    <app-page-callback [title]='title'
                       [defaultPage]='defaultPage'>
    </app-page-callback>
  </div>

  <div class="receipt-refund__content">
    <div class="receipt-refund__information">
      <div class="receipt-refund__information_wrapper" *ngIf="saleReceipt">
        <div class="header">
          <div class="header__logo">
            <img src="assets/pos/images/pos-receipt-icon.png"
                 alt="Receipt logo"
                 class="logo" />
          </div>

          <div class="header__infor">
            <h4 class="title">TOG Connection Pte Ltd</h4>
            <p class="store-name">{{saleReceipt.storeName}}</p>
            <p class="store-address"
                *ngIf="saleReceipt.storeAddress">{{saleReceipt.storeAddress}}</p>
            <p></p>
            <p class="customer-name"
                *ngIf="saleReceipt.customerName">Name: {{saleReceipt.customerName}}</p>
            <p class="phone"
                *ngIf="saleReceipt.customerPhoneNumber">Phone: {{saleReceipt.customerPhoneNumber}}</p>
          </div>
        </div>

        <hr class="hr">

        <div class="bill_info">
          <div class="bill_info--row bill-no">
            <div class="item">
              <div class="title">
                Bill No:
              </div>

              <div class="value billno">
                {{saleReceipt.billNo}}
              </div>
            </div>
          </div>

          <div class="bill_info--row bill-no" *ngIf="saleReceipt.previousBillNo">
            <div class="item">
              <div class="title">
                Bill No:
              </div>

              <div class="value billno">
                {{saleReceipt.previousBillNo}} (Previous)
              </div>
            </div>
          </div>

          <div class="bill_info--row bill-no" *ngIf="saleReceipt.nextBillNo">
            <div class="item">
              <div class="title">
                Bill No:
              </div>

              <div class="value billno">
                {{saleReceipt.nextBillNo}} (Next)
              </div>
            </div>
          </div>

          <div class="bill_info--row">
            <div class="item">
              <div class="title">
                Date:
              </div>

              <div class="value">
                {{createdDate}}
              </div>
            </div>
          </div>

          <div class="bill_info--row cashier-counter">
            <div class="cashier">
              <div class="title">
                Cashier:
              </div>

              <div class="value">
                {{saleReceipt.cashierName}}
              </div>
            </div>

            <div class="counter">
              <div class="title">
                Counter: {{saleReceipt.counterName}}
              </div>
            </div>
          </div>
        </div>

        <hr class="hr">

        <div class="bill__content">
          <div class="header">
            <span class="no">No.</span>
            <span class="item">Item</span>
            <span class="quantity">Qty</span>
            <span class="price">Unit Price($)</span>
            <span class="amount">Amount($)</span>
          </div>

          <hr class="hr">
          <div class="body">
            <ng-container *ngIf="saleReceipt">
              <div>Purchased Items:</div>
              <div class="body-row"
                   *ngFor="let item of saleReceipt.purchasedItems; let i = index">
                <div class="body-row-info">
                  <span class="no">{{i + 1}}</span>
                  <span class="item">{{item.name}}</span>
                </div>
                <div class="body-row-skucode">
                  <span class="item">{{item.skuCode}}</span>
                </div>
                <div class="body-row-info-detail">
                  <span class="quantity">{{item.quantity}}</span>
                  <span class="price">{{formatNumberDecimal(item.price)}}</span>
                  <span class="amount">{{formatNumberDecimal(item.amount)}}</span>
                </div>

                <ng-container *ngIf="item.receiptItemPromotions && item.receiptItemPromotions.length > 0">
                  <div class="body-row-info-detail-order-promotion" *ngFor="let itemPromotion of item.receiptItemPromotions">
                    <ng-container *ngIf="itemPromotion.discountType === 1">
                      <span class="item-discount-description">Item Discount</span>
                      <span class="item-discount-money-value">{{formatNumberDecimal(itemPromotion.amount)}}</span>
                    </ng-container>

                    <ng-container *ngIf="itemPromotion.discountType === 2">
                      <span class="item-discount-description">Item Discount</span>
                      <span class="item-discount-percent-value">-{{formatNumberDecimal(itemPromotion.value)}}(%)</span>
                      <span class="item-discount-percent-amount">{{formatNumberDecimal(itemPromotion.amount)}}</span>
                    </ng-container>
                  </div>
                </ng-container>
              </div>

              <div>Refunded Items:</div>
              <div class="body-row"
                   *ngFor="let item of saleReceipt.refundedItems; let i = index">
                <div class="body-row-info">
                  <span class="no">{{i + 1}}</span>
                  <span class="item">{{item.name}}</span>
                </div>
                <div class="body-row-skucode">
                  <span class="item">{{item.skuCode}}</span>
                </div>
                <div class="body-row-info-detail">
                  <span class="quantity">{{item.quantity}}</span>
                  <span class="price">{{formatNumberDecimal(item.price)}}</span>
                  <span class="amount">{{formatNumberDecimal(item.amount)}}</span>
                </div>

                <ng-container *ngIf="item.receiptItemPromotions && item.receiptItemPromotions.length > 0">
                  <div class="body-row-info-detail-order-promotion" *ngFor="let itemPromotion of item.receiptItemPromotions">
                    <ng-container *ngIf="itemPromotion.discountType === 1">
                      <span class="item-discount-description">Item Discount</span>
                      <span class="item-discount-money-value">{{formatNumberDecimal(itemPromotion.amount)}}</span>
                    </ng-container>

                    <ng-container *ngIf="itemPromotion.discountType === 2">
                      <span class="item-discount-description">Item Discount</span>
                      <span class="item-discount-percent-value">-{{formatNumberDecimal(itemPromotion.value)}}(%)</span>
                      <span class="item-discount-percent-amount">{{formatNumberDecimal(itemPromotion.amount)}}</span>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>

            <div class="body-manual-promotion" *ngIf="saleReceipt && saleReceipt.salePromotions.length > 0">
              <div class="body-manual-promotion-title">
                Discount
              </div>

              <div class="body-manual-promotion-items">
                <div class="body-manual-promotion-item" *ngFor="let salePromotion of saleReceipt.salePromotions">
                  <div class="body-manual-promotion-item-title">
                    {{salePromotion.description}}
                  </div>
  
                  <div class="body-manual-promotion-item-value" *ngIf="salePromotion.discountType === 1">
                    {{formatNumberDecimal(salePromotion.amount)}} ($)
                  </div>

                  <div class="body-manual-promotion-item-value percent" *ngIf="salePromotion.discountType === 2">
                    <span class="value">-{{formatNumberDecimal(salePromotion.value)}} (%)</span>
                    <span class="amount-value">{{formatNumberDecimal(salePromotion.amount)}} ($)</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="body-summary">
              <div class="total">
                <div class="title">
                  Total Amount
                </div>

                <div class="value">
                  {{formatNumberDecimal(saleReceipt.totalAmount)}} ($)
                </div>
              </div>
              <div class="gst-number">
                <ng-container *ngIf="saleReceipt.gstInclusive">
                  (GST S$ {{saleReceipt.gstInclusiveAmount}} Inclusive)
                </ng-container>

                <ng-container *ngIf="!saleReceipt.gstInclusive">
                  <div class="gst-amount">
                    <div class="title">
                      GST
                    </div>

                    <div class="value">
                      {{saleReceipt.gstNoInclusiveAmount}} ($)
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <hr class="hr">
          <div class="bill--summary">
            <div class="net-quantity">
              <span class="title">Net Qty: </span>
              <span class="value">{{netQuantityTotal}}</span>
            </div>
            <div class="net-total">
              <span class="title">Net Total: </span>
              <span class="value">{{formatNumberDecimal(netTotal)}} ($)</span>
            </div>
          </div>
        </div>

        <hr class="hr">
        <div class="refund-summary">
          <div class="total">
            <div class="title">
              Refund
            </div>

            <div class="value">
              {{formatNumberDecimal(saleReceipt.refund)}} ($)
            </div>
          </div>
        </div>

        <hr class="hr">
        <div class="receipt-refund_payment-modes">
          <div class="payment-mode" *ngFor="let salePayment of saleReceipt.salePayments">
            <div class="title">
              {{salePayment.name}}
            </div>

            <div class="value">
              {{salePayment.decimalAmount}}
            </div>
          </div>
        </div>

        <hr class="hr">
        <div class="receipt-refund__retail">
          Reason: {{saleReceipt.reason}}
        </div>

        <hr class="hr">
        <div class="receipt-refund__retail">
          Retain Your Receipt for Exchange within {{exchangeDayAmount}} Days For Selected Items Only! Thanks! Please
          Come again
        </div>
      </div>
    </div>

    <div class="receipt-refund__actions">
      <button class="btn btn-info print"
              (click)="onPrint()">Print</button>
      <button class="btn btn-info print"
              (click)="onEsc()">Esc</button>
    </div>
  </div>
</div>
