<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span>: <span class="field__tag">{{value}}</span>
    <i class="far fa-edit field__icon-edit" (click)="edit()"></i>
</div>
<ng-template #editMode>
    <input class="form-control" [(ngModel)]="bindingValue" type="number" (ngModelChange)="save()" />
</ng-template>
