<div class="exchange" [ngStyle]="{'width': pageWidth}">
    <div class="exchange--header">
      <app-page-callback
        class="call-back"
        [title]='title'
        [defaultPage]='defaultPage'
        (back)="onBack()">
      </app-page-callback>
    </div>
    <div class="product" *ngIf="sale">
        <ngx-datatable
          #myTable
          class="material striped list-product expandable"
          [rows]="dataSource"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50">
          <ngx-datatable-column name="description" [sortable]="false" [draggable]="false"
            headerClass="description"
            cellClass="description">
            <ng-template let-column="column" ngx-datatable-header-template>
              Description
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="quantity" [sortable]="false" [draggable]="false"
            headerClass="quantity"
            cellClass="quantity">
            <ng-template let-column="column" ngx-datatable-header-template>
              Purchased Quantity
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="exchangeQuantity" [sortable]="false" [draggable]="false"
            headerClass="exchangeQuantity"
            cellClass="exchangeQuantity">
              <ng-template let-column="column" ngx-datatable-header-template>
                Exchange Quantity
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                  <button class="btn-decrease" type="button" (click)="onInPutNumberMinus(row)">
                    <i class="fas fa-minus"></i>
                  </button>
                  <app-input-with-keyboard id="{{productExchangeQuantityId}}{{rowIndex}}" type="number" [style]="inputQuantityStyle" inputSelectText="true" isNumpad="true"
                    [value]="value" (valueChange)="onChangeQuantity($event,row)">
                  </app-input-with-keyboard>
                  <button class="btn-increase" type="button" (click)="onInPutNumberPlus(row)">
                    <i class="fas fa-plus"></i>
                  </button>
              </ng-template>
            </ngx-datatable-column>
  
          <ngx-datatable-column name="price" [sortable]="false" [draggable]="false"
            headerClass="price"
            cellClass="price">
            <ng-template let-column="column" ngx-datatable-header-template>
              Unit Price ($)
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{formatNumberDecimal(value)}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="pageSize"
                         let-selectedCount="selectedCount"
                         let-curPage="curPage"
                         let-offset="offset">
            </ng-template>
        </ngx-datatable-footer>
        </ngx-datatable>
    </div>
    <div class="exchange-reason">
        <app-input-with-keyboard id="{{productExchangeReasonId}}" placeholder='Reason to exchange' [isTextarea]="isTextarea" [style]="inputReasonStyle" inputSelectText="true"
            [value]="reasonExchange" (valueChange)="onChangeReason($event)">
        </app-input-with-keyboard>
    </div>
    <div class="btn-actions">
        <button class="btn btn-outline-secondary reset reprint"
          [disabled]="isDisableAddProductForExchangeButton"
          (click)="onClickAddProductForExchange()">
          Add Product For Exchange
        </button>
    </div>
</div>