$topnav-background-color: #6c757d;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 65px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 4px 1px #4c4c4c;
    background: $topnav-background-color;
    .list-group {
        a.list-group-item {
            cursor: pointer;
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #f8f9fa;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
            min-width: 200px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        a.active {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        .header-fields {
            padding-top: 10px;
            >.list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
        .submenu {
            border: none;
            padding: 0 0 0 10px;
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #f8f9fa;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #f8f9fa;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
    .blank {
        height: 20px;
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        top: 57px;
        left: 0px;
    }
    .subMenu-desktop {
        display: none !important;
    }
}

@media print {
    .sidebar {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
