<div class="allocation-transaction">
    <p class="list-view-title h4">
        Allocation Transaction Management
    </p>
    <div class="filter-multi-select col-12">
            <div class="filter-multi-select-field col-3">
                <div class="filter-multi-select-field-title">
                    <p class="h6">Status</p>
                </div>
                <app-filter-multi-select [dropdownList]="statusDropdownList" [customPlaceholder]="statusPlaceholder" (dropDownListItem)='displaydropDownListStatus($event)' class="filter-multi-select-field-view"></app-filter-multi-select>
            </div>
            <div class="filter-multi-select-field col-3">
                <div class="filter-multi-select-field-title">
                    <p class="h6">FromLocation</p>
                </div>
                <app-filter-multi-select [dropdownList]="fromLocationDropdownList" [customPlaceholder]="fromLocationPlaceholder" (dropDownListItem)='displaydropDownListFromLocation($event)'class="filter-multi-select-field-view"></app-filter-multi-select>
            </div>
            <div class="filter-multi-select-field col-3">
                <div class="filter-multi-select-field-title">
                    <p class="h6">ToLocation</p>
                </div>
                <app-filter-multi-select [dropdownList]="toLocationDropdownList" [customPlaceholder]="toLocationPlaceholder" (dropDownListItem)='displaydropDownListToLocation($event)'class="filter-multi-select-field-view"></app-filter-multi-select>
            </div>
    </div>
    <div>
        <app-list-view-management
        [title]="title"
        [datasource]="datasource"
        [pageSize]="pageSize"
        [listButton]="listButton"
        [actionType]="actionType"
        [isHiddenSearchBox] = "isHiddenSearchBox"
        [addSuccessMessage]='addSuccessMessage'
        [updateSuccessMessage]='updateSuccessMessage'
        [deleteSuccessMessage]='deleteSuccessMessage'
        (changeSelectedPage)="changeSelectedPage($event)"
        [userDefinedColumnSetting] = "userDefinedColumnSetting"
        (searchQuery)="eventSearchQuery($event)"
        (sortCondition)="eventSort($event)" [resetSort]="resetSort">
        </app-list-view-management>
    </div>
</div>
