$topnav-background-color: #6c757d;

:host {
    .navbar {
        background-color: $topnav-background-color;
        box-shadow: 1px 1px 4px 1px #4c4c4c;
        .navbar-brand {
            color: #fff;
        }
        .nav-item {
            padding-right: 3.5rem;
        }
        .nav-item > a {
            cursor: pointer;
            color: #f8f9fa;
            &:hover {
                color: #fff;
            }
        }
        .dropdown-item{
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}

@media (max-width: 1024px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

@media (max-width: 1024px){
    .navbar-expand-lg {
        justify-content: space-between;
    }
}

