<div *ngIf="!isInEditMode(); else editMode">
    <span class="field__title">{{displayText}}</span>: <span class="field__tag">{{value}}</span>
    <i class="far fa-edit field__icon-edit" (click)="edit()"></i>
</div>

<ng-template #editMode>
    <!-- <input class="form-control" [(ngModel)]="bindingValue" type="checkbox" /> -->
    <label class="container">
        <input type="checkbox" checked="checked" [(ngModel)]="bindingValue" (ngModelChange)="save()">
        <span class="checkmark"></span>
    </label>
    <br>
</ng-template>
