#big-button {
    width: 100%;
    height: 100%;
    padding: 2px;

    .div-button {
        width: 100%;
        height: 100%;
        padding: 1px;
        display: flex;

        .titles {
            margin-left: auto;
            margin-right: auto; 

            .title {
                margin: auto;
                word-wrap: break-word;
                white-space: initial;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                p {
                    margin: 0;
                }
            }

            .title.caption {
                font-weight: bold;
            }
        }

        .flex-container {
            list-style: none;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            max-width: -webkit-fill-available;
        
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
        }
        
        .space-between { 
            -webkit-align-content: space-between; 
            align-content: space-between; 
        }  
        
        .flex-item {
            width: 100%;
            text-align: center;
        }
    }

    .short-key {
        position: absolute;
        font-weight: 900;
        font-size: 13px;
    }
}